workflows/process-questions/workflow.json
{
  "name": "Process Questions",
  "nodes": [
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        32
      ],
      "id": "1f76d523-ebac-41f4-83b6-b2f187db6853",
      "name": "Set Response"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -288,
        176
      ],
      "id": "d6f340a9-d0f3-4f37-b864-33068b783dd2",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "transcript"
            },
            {
              "name": "description"
            },
            {
              "name": "title"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1808,
        32
      ],
      "id": "9be87018-8f47-4a33-9294-a5b5d1bf7db1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f42bc7bc-0027-498f-8775-1144f23dd3bb",
              "leftValue": "={{ $json.success }}",
              "rightValue": "observation",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        32
      ],
      "id": "957713fd-76e7-464d-923f-4bae6d0e3bd9",
      "name": "Is Success?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8216d532-4d28-45ef-81b7-79df30e3b51d",
              "leftValue": "={{ $json.type }}",
              "rightValue": "question",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -80
      ],
      "id": "3427f647-4c0c-4a44-ac8c-da7aff0c7341",
      "name": "Is New Item?"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"enhancedQuestion\": {\n    \"originalInquiry\": \"Ask the finance team about the quarterly spending limits\",\n    \"strategicFraming\": \"I'd like to understand our quarterly spending framework to ensure I'm making informed decisions about resource allocation and investment timing. Could you help me understand our current quarterly spending limits across different categories, the rationale behind these allocations, and the process for requesting adjustments when strategic opportunities arise? I'm particularly interested in understanding how these limits align with our annual goals and what flexibility exists for initiatives that might exceed standard limits but offer strong ROI potential.\",\n    \"preparationStrategy\": [\n      \"Identify specific spending categories or initiatives you need to understand limits for, rather than asking generically\",\n      \"Research the company's recent financial performance and any announced budget priorities or constraints\",\n      \"Prepare specific examples of potential spending needs to make the conversation more concrete and useful\"\n    ]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -80,
        0
      ],
      "id": "0c915cff-55af-4d33-9d7f-2841fdd4408a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -336,
        0
      ],
      "id": "5fa0a178-d10f-459d-aff5-28794a6c1275",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "9gjABC7ATNyqt5z1",
          "name": "Perplexity account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -208,
        0
      ],
      "id": "b523dc95-f207-417a-85ca-4128f611cc70",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "mSg8lJLM2ZMLC08K",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -464,
        0
      ],
      "id": "9985b80d-3b37-4dbd-b1e4-be63a22d2bb1",
      "name": "4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "PMabRr0KYrwbyRKH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xnbxczlaowxhgriihyjs.supabase.co/rest/v1/rpc/ingest_item",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_content",
              "value": "={{ $('When Executed by Another Workflow').item.json.description }}"
            },
            {
              "name": "p_type",
              "value": "question"
            },
            {
              "name": "p_source_type",
              "value": "voice"
            },
            {
              "name": "p_transcript",
              "value": "={{ $('When Executed by Another Workflow').item.json.transcript }}"
            },
            {
              "name": "p_embedding",
              "value": "={{ $json.data[0].embedding }}"
            },
            {
              "name": "p_embedding_model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "p_question_text",
              "value": "={{ $('When Executed by Another Workflow').item.json.title }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        32
      ],
      "id": "35e27837-ad1d-467e-8eea-a54c41b68ff8",
      "name": "RPC Ingest Question",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "S4NUiiUkjnM1PDRf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Enhance Questions\n\n## Role and Objective\n\nYou are an expert communication strategist and inquiry facilitation consultant. Your objective is to transform basic questions extracted from memos into well-researched, strategically-framed inquiries that are more likely to elicit valuable responses, foster productive dialogue, and achieve the underlying information or decision-making goals through enhanced questioning techniques, contextual background, and strategic inquiry design.\n\n## Primary Instructions\n\n### Input Processing\n- Analyze the provided question description (extracted from memo analysis)\n- Identify the core inquiry, target audience, and underlying purpose\n- Determine the question's context, stakes, and desired outcomes\n\n### Research Requirements\nBefore generating enhancements, you MUST conduct research using web_search to:\n1. **Explore the question domain** - Find relevant context, industry standards, and current perspectives\n2. **Research effective questioning techniques** - Look for proven methodologies for similar inquiries\n3. **Identify preparation requirements** - Search for key information needed before asking the question\n\n**Research Query Pattern Examples:**\n- \"[question domain] best practices 2025\"\n- \"how to ask [type of question] effectively\" \n- \"[topic] current trends and challenges\"\n\n### Question Enhancement Criteria\n\n**Enhancement Requirements:**\n- **Strategy**: Improve question framing and approach for better outcomes\n- **Preparation**: Add supporting information and context needed before asking\n- **Effectiveness**: Optimize for productive dialogue and useful responses\n\n## Step-by-Step Reasoning Process\n\nFollow this reasoning chain for each question:\n\n1. **Core Inquiry Analysis**: What is the fundamental question being asked? What outcome is desired?\n\n2. **Strategic Enhancement**: How can the question be framed more effectively? What approaches work best?\n\n3. **Preparation Integration**: What supporting information would make the question more productive?\n\n## Output Format\n\nReturn JSON with exactly this structure:\n\n```json\n{\n  \"enhancedQuestion\": {\n    \"originalInquiry\": \"[Restate the core question clearly and concisely, including who is being asked]\",\n    \"strategicFraming\": \"[Enhanced version of the question with improved framing, context, and approach. Should demonstrate strategic thinking about how to position the inquiry for maximum effectiveness and productive dialogue.]\",\n    \"preparationStrategy\": [\n      \"[Key background information or research to gather before asking the question]\",\n      \"[Important considerations about timing, setting, or approach for maximum effectiveness]\",\n      \"[Potential objections or concerns to anticipate and how to address them]\"\n    ]\n  }\n}\n```\n\n## Examples\n\n### Example 1: Budget Allocation Question\n**Input:** \"Ask Sarah about the budget allocation for social media campaigns\"\n\n**Output:**\n```json\n{\n  \"enhancedQuestion\": {\n    \"originalInquiry\": \"Ask Sarah about the budget allocation for social media campaigns\",\n    \"strategicFraming\": \"Sarah, I'd like to discuss our social media campaign budget strategy to ensure we're optimizing our investment for maximum impact. Given the evolving landscape of social media costs and the increasing importance of measurable ROI, I'm hoping to understand our current allocation approach and explore whether we have opportunities to improve our effectiveness. Could we walk through how we're currently distributing our social media budget across platforms and campaigns, and discuss what metrics we're using to evaluate success?\",\n    \"preparationStrategy\": [\n      \"Research current social media advertising costs and industry benchmark allocation percentages for similar companies\",\n      \"Gather data on the performance of recent social media campaigns to inform the discussion with concrete examples\",\n      \"Understand Sarah's role in budget decision-making and what constraints or goals she's working within\"\n    ]\n  }\n}\n```\n\n### Example 2: Technical Process Question\n**Input:** \"Ask the DevOps team about accessing historical server performance logs to analyze patterns during the engagement decline period\"\n\n**Output:**\n```json\n{\n  \"enhancedQuestion\": {\n    \"originalInquiry\": \"Ask the DevOps team about accessing historical server performance logs to analyze patterns during the engagement decline period\",\n    \"strategicFraming\": \"Hi DevOps team, we've identified a concerning correlation between our recent user engagement decline and some server performance issues that occurred during the same timeframe. To properly investigate this relationship and prevent future occurrences, I'm hoping to access historical server performance data for analysis. Could you help me understand what performance logging data you have available for the past 6-8 weeks, particularly around CPU, memory, response times, and error rates? I'm specifically interested in identifying any performance degradation patterns that might have impacted user experience during our engagement decline period.\",\n    \"preparationStrategy\": [\n      \"Define the specific time period for analysis and gather user engagement metrics to correlate with server data\",\n      \"Research common server performance indicators that typically impact user experience and engagement\",\n      \"Understand the DevOps team's preferred communication style and technical depth for requests\"\n    ]\n  }\n}\n```\n\n### Example 3: Self-Reflection Question\n**Input:** \"Ask myself whether we're focusing too much on paid advertising versus organic growth\"\n\n**Output:**\n```json\n{\n  \"enhancedQuestion\": {\n    \"originalInquiry\": \"Ask myself whether we're focusing too much on paid advertising versus organic growth\",\n    \"strategicFraming\": \"I need to conduct a strategic audit of our current marketing mix to evaluate whether our investment balance between paid advertising and organic growth strategies is optimizing for both short-term results and long-term sustainability. This analysis should examine our current budget allocation, performance metrics across both channels, the sustainability of our customer acquisition costs, and the compound growth potential of our organic initiatives. The key question is whether we're building marketing assets that will continue generating value over time, or creating an unsustainable dependency on paid channels that could become increasingly expensive and less effective.\",\n    \"preparationStrategy\": [\n      \"Analyze current budget allocation between paid advertising and organic growth initiatives with specific percentages and ROI data\",\n      \"Research industry benchmarks for paid vs. organic balance in similar companies or business models\",\n      \"Evaluate the compound growth potential and sustainability of current organic initiatives compared to paid channels\"\n    ]\n  }\n}\n```\n\n### Example 4: Team Process Question\n**Input:** \"Ask the customer success team about their retention strategies\"\n\n**Output:**\n```json\n{\n  \"enhancedQuestion\": {\n    \"originalInquiry\": \"Ask the customer success team about their retention strategies\",\n    \"strategicFraming\": \"I'd like to understand our customer success team's approach to retention, particularly given some concerning trends we've observed in customer satisfaction after the three-month mark. Could we discuss your current retention strategies, the metrics you're tracking, and how you're identifying at-risk customers? I'm especially interested in understanding what early warning indicators you've found most predictive of churn, and what intervention strategies have been most effective in retaining customers who show signs of disengagement. This conversation would help me better understand how different parts of our business can support retention goals.\",\n    \"preparationStrategy\": [\n      \"Gather specific data about customer satisfaction decline after three months to provide context for the discussion\",\n      \"Research current customer success best practices and retention benchmarks for relevant industry or business model\",\n      \"Understand the customer success team's current tools, processes, and resource constraints\"\n    ]\n  }\n}\n```\n\n### Example 5: Strategic Planning Question\n**Input:** \"Ask the finance team about the quarterly spending limits\"\n\n**Output:**\n```json\n{\n  \"enhancedQuestion\": {\n    \"originalInquiry\": \"Ask the finance team about the quarterly spending limits\",\n    \"strategicFraming\": \"I'd like to understand our quarterly spending framework to ensure I'm making informed decisions about resource allocation and investment timing. Could you help me understand our current quarterly spending limits across different categories, the rationale behind these allocations, and the process for requesting adjustments when strategic opportunities arise? I'm particularly interested in understanding how these limits align with our annual goals and what flexibility exists for initiatives that might exceed standard limits but offer strong ROI potential.\",\n    \"preparationStrategy\": [\n      \"Identify specific spending categories or initiatives you need to understand limits for, rather than asking generically\",\n      \"Research the company's recent financial performance and any announced budget priorities or constraints\",\n      \"Prepare specific examples of potential spending needs to make the conversation more concrete and useful\"\n    ]\n  }\n}\n```\n\n## Quality Validation Framework\n\nBefore generating your final response, validate each enhancement against these criteria:\n\n### Question Enhancement Checklist\n- ✓ Incorporates research insights about effective questioning techniques\n- ✓ Improves strategic framing while maintaining the core inquiry intent\n- ✓ Includes actionable preparation strategies with specific research or analysis steps\n- ✓ Makes the question more likely to elicit valuable, actionable responses\n- ✓ Considers the audience perspective and relationship dynamics\n\n### Question Quality Standards\n**Strategic Framing Should:**\n- Position the question for maximum effectiveness and productive dialogue\n- Demonstrate respect for the audience's expertise and constraints\n- Include appropriate context about why the question is being asked\n- Frame the inquiry in terms of mutual benefit or shared goals\n\n**Preparation Strategy Should:**\n- Include specific research or data gathering that would inform the question\n- Consider timing, setting, and approach factors for maximum effectiveness\n- Anticipate potential concerns or objections and how to address them\n- Suggest ways to demonstrate preparation and respect for the audience's time\n\n## Final Instructions\n\n1. **Always conduct research first** using web_search before generating enhancements\n2. **Focus on question effectiveness** rather than just politeness or formatting\n3. **Maintain inquiry authenticity** while adding strategic sophistication\n4. **Provide specific preparation steps** to ensure productive conversations\n5. **Balance directness with diplomacy** based on the relationship and context\n\nRemember: The goal is to transform basic questions into strategically-framed inquiries that are more likely to generate valuable responses and achieve the underlying information or decision-making objectives. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -352,
        -224
      ],
      "id": "89bd2670-213b-4125-9b43-35d42272c912",
      "name": "Enhance Question"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "210d0eff-6a00-80b2-b88a-d496e339be45",
          "mode": "list",
          "cachedResultName": "Questions",
          "cachedResultUrl": "https://www.notion.so/210d0eff6a0080b2b88ad496e339be45"
        },
        "title": "={{ $('When Executed by Another Workflow').item.json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "External ID|rich_text",
              "textContent": "={{ $('Set Response').item.json.item_id }}"
            },
            {
              "key": "Transcript|rich_text",
              "textContent": "={{ $('When Executed by Another Workflow').item.json.transcript }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_2",
              "textContent": "Description"
            },
            {
              "textContent": "={{ $('When Executed by Another Workflow').item.json.description }}"
            },
            {
              "type": "heading_2",
              "textContent": "Strategic Framing"
            },
            {
              "textContent": "={{ $json.output.enhancedQuestion.strategicFraming }}"
            },
            {
              "type": "heading_2",
              "textContent": "Preparation Strategy"
            },
            {
              "textContent": "={{ $json.output.enhancedQuestion.preparationStrategy.join().replaceAll('.,', '. ') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        128,
        -128
      ],
      "id": "b843af5d-2841-4757-9f45-d0feca42dcc6",
      "name": "Create Question",
      "credentials": {
        "notionApi": {
          "id": "RP3bJ33HVXDb5pa4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.portkey.ai/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        32
      ],
      "id": "ab15743c-03bf-4f39-b3ee-c24e24cd21b9",
      "name": "Create Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "PMabRr0KYrwbyRKH",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Set Response": {
      "main": [
        [
          {
            "node": "Is Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Success?": {
      "main": [
        [
          {
            "node": "Is New Item?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Item?": {
      "main": [
        [
          {
            "node": "Enhance Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Enhance Question",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Enhance Question",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Enhance Question",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Enhance Question",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RPC Ingest Question": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Question": {
      "main": [
        [
          {
            "node": "Create Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Embeddings": {
      "main": [
        [
          {
            "node": "RPC Ingest Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "createdAt": "2025-09-02T08:19:22.009Z",
      "updatedAt": "2025-09-02T08:19:22.009Z",
      "id": "SlCgFcqbm1uNayxM",
      "name": "backup"
    }
  ],
  "triggerCount": 0,
  "versionId": "aa189e5a-8bdd-4f92-886c-886cd6ddb18b",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "transcript": "I need to ask Leni if she wants to become my,and to marry her.",
          "embedding": [
            -0.019280504,
            -0.00985748,
            0.0061469814,
            0.052792415,
            -0.040251866,
            0.013820434,
            -0.0027315025,
            0.024564441,
            -0.025950009,
            -0.014231407,
            -0.023190618,
            -0.03867843,
            0.002618485,
            -0.026325755,
            -0.020302065,
            -0.027523447,
            -0.02630227,
            -0.022321703,
            0.05720744,
            0.003187976,
            -0.0034374953,
            0.05997857,
            -0.049410693,
            -0.025691682,
            0.023942111,
            -0.060683094,
            0.029425666,
            -0.042929064,
            0.014783286,
            -0.002354288,
            -0.012787131,
            -0.022028152,
            -0.081302196,
            0.013867402,
            -0.01643892,
            0.019503603,
            0.0020680747,
            -0.04814255,
            -0.016251046,
            -0.023108423,
            -0.03947689,
            0.0040745037,
            -0.0013987758,
            0.041191235,
            0.02320236,
            0.012787131,
            -0.0041772467,
            0.026090913,
            0.018681657,
            0.022204284,
            -0.0212884,
            -0.0025803233,
            0.025503809,
            0.06415875,
            -0.017941905,
            -0.00597085,
            0.03492096,
            -0.0221808,
            -0.00021392612,
            0.006916088,
            -0.021734599,
            0.025409872,
            -0.001593988,
            0.048847076,
            -0.02331978,
            -0.01379695,
            -0.018000616,
            0.049316756,
            -0.004420895,
            0.015041611,
            0.032971773,
            0.0013701546,
            0.004144956,
            0.025480324,
            -0.028110553,
            0.016767697,
            0.012998488,
            -0.006634278,
            0.043844946,
            0.08938075,
            -0.0036576595,
            0.025574261,
            -0.037598155,
            0.029496118,
            0.005457134,
            -0.021546727,
            -0.03729286,
            -0.033417974,
            -0.0021869633,
            0.025644714,
            -0.026912859,
            0.017425254,
            -0.05471812,
            -0.02100659,
            0.05377875,
            0.021323627,
            0.007045251,
            -0.018517269,
            -0.02223951,
            0.027100733,
            0.005824074,
            0.021863762,
            -0.014501475,
            -0.013456429,
            -0.002813697,
            0.0617164,
            0.027617384,
            0.009511089,
            0.015863556,
            -0.004097988,
            -0.06716473,
            0.016251046,
            -0.0014824383,
            0.010749879,
            -0.007814358,
            -0.019350957,
            -0.010133419,
            0.01886953,
            -0.030905169,
            -0.06143459,
            0.0075031924,
            -0.023331523,
            0.028979465,
            0.005069645,
            -0.03588381,
            -0.0341225,
            0.0022104476,
            0.040979877,
            0.028932497,
            -0.029543087,
            0.004150827,
            -0.031445302,
            0.037762545,
            0.009804641,
            -0.014254891,
            0.021652404,
            -0.010972979,
            -0.015898783,
            -0.02472883,
            -0.011865377,
            0.060119476,
            -0.016720729,
            0.027781773,
            -0.02437657,
            -0.016826408,
            0.006751699,
            0.00962851,
            -0.031586207,
            -0.023155391,
            -0.03778603,
            0.00059334224,
            0.021241432,
            -0.0068691196,
            0.021734599,
            0.0027946162,
            -0.008184234,
            -0.025738651,
            -0.0045911553,
            -0.021241432,
            0.0280401,
            0.024165211,
            -0.006933701,
            -0.0057859123,
            0.008812435,
            0.07815532,
            0.0009144149,
            0.0019374441,
            0.022486093,
            -0.02912037,
            -0.023871658,
            -0.014254891,
            0.0121648,
            -0.024423538,
            0.0184703,
            -0.0219577,
            -0.042365443,
            0.033934627,
            -0.033605848,
            0.015957493,
            -0.0056508784,
            -0.036189105,
            0.06293757,
            -0.02296752,
            -0.051289428,
            -0.015969235,
            0.022873582,
            0.032642998,
            0.019139599,
            0.008548238,
            -0.0054042945,
            -0.012423126,
            0.091024645,
            0.0505849,
            -0.002128253,
            0.05964979,
            0.0014075824,
            0.03959431,
            0.018423332,
            -0.00267426,
            -0.03243164,
            -0.0013540091,
            0.0046205106,
            0.03318313,
            0.00009944078,
            0.007855455,
            -0.011149109,
            -0.022368671,
            0.001593988,
            0.0026771955,
            -0.024282632,
            0.106618136,
            -0.01734306,
            0.017507449,
            0.017589644,
            -0.06674201,
            -0.03388766,
            0.01301023,
            -0.021581952,
            0.026513629,
            0.043727525,
            -0.015323421,
            0.026912859,
            0.043563135,
            0.028815078,
            -0.0005225228,
            0.046428204,
            0.0005280269,
            -0.005551071,
            0.0024408859,
            0.029637022,
            -0.0072037694,
            -0.033911142,
            -0.015851814,
            0.04870617,
            -0.0031615563,
            -0.01041523,
            -0.023448944,
            -0.02461141,
            -0.025480324,
            0.044267662,
            -0.0048348038,
            0.047391057,
            0.043844946,
            0.015464326,
            0.012528805,
            -0.0030470712,
            0.019750187,
            -0.00492874,
            -0.03802087,
            0.022897067,
            -0.022955777,
            -0.029355213,
            0.004511896,
            -0.024681862,
            -0.043445714,
            -0.021429306,
            -0.024353085,
            -0.022392156,
            0.029355213,
            -0.024235664,
            -0.0068632485,
            0.0588983,
            -0.024799284,
            -0.02302623,
            -0.020853942,
            -0.018740367,
            -0.03661182,
            -0.022145573,
            0.026889374,
            0.0068808617,
            -0.021417564,
            0.011853635,
            0.0341225,
            0.033371005,
            -0.053027257,
            -0.01925702,
            0.05373178,
            -0.03903069,
            0.036517885,
            0.0061704656,
            -0.022650482,
            -0.048518296,
            -0.006464018,
            -0.056690786,
            0.030271096,
            0.019139599,
            0.0126697095,
            -0.001557294,
            -0.032055892,
            -0.018035842,
            0.017213896,
            -0.018517269,
            0.0055951034,
            -0.015722651,
            0.0425768,
            -0.048330422,
            0.028932497,
            -0.010832073,
            0.02735906,
            0.079141654,
            0.008741982,
            0.010098193,
            0.022509577,
            0.0093643125,
            0.03247861,
            0.029754443,
            0.0052252277,
            -0.024987157,
            0.017272606,
            -0.006346597,
            -0.0043240227,
            -0.026372723,
            -0.0141726965,
            -0.00218256,
            -0.03351191,
            -0.040956393,
            0.00046234461,
            0.049363725,
            -0.010509166,
            0.012317447,
            -0.006053045,
            0.01870514,
            -0.004802513,
            -0.017084735,
            0.023531139,
            -0.016227562,
            0.06429966,
            -0.0275939,
            0.07073432,
            0.0074268687,
            0.0029457957,
            -0.010450455,
            -0.0387254,
            -0.012845841,
            0.031069556,
            -0.013186362,
            -0.022286478,
            0.050537933,
            -0.0035284965,
            0.05096065,
            -0.013597335,
            0.00012650262,
            0.0007001218,
            0.048941012,
            0.016286273,
            0.020630844,
            0.06486328,
            0.026537113,
            -0.033934627,
            -0.014337086,
            -0.02437657,
            -0.021441048,
            0.0009753269,
            -0.0043298937,
            0.017554417,
            0.0462873,
            0.0851536,
            -0.04555929,
            0.0073505454,
            0.015675684,
            -0.026983311,
            -0.0029340535,
            0.02185202,
            0.035014898,
            -0.08022193,
            -0.018799078,
            -0.012998488,
            -0.003666466,
            -0.03907766,
            0.009053147,
            0.019327473,
            -0.0002372268,
            0.057348344,
            0.07575993,
            0.000045362976,
            0.023625076,
            0.026372723,
            0.040651098,
            0.03339449,
            -0.03238467,
            0.045253996,
            -0.03553155,
            -0.005342649,
            0.029871864,
            -0.036400463,
            0.018775593,
            0.026161365,
            -0.008248814,
            0.0505849,
            -0.0068691196,
            0.026278786,
            -0.012963262,
            0.045629743,
            -0.013456429,
            0.023859916,
            -0.021992926,
            0.00419486,
            0.02326107,
            -0.04635775,
            -0.08341577,
            -0.06960708,
            0.014454506,
            -0.002906166,
            -0.0074327397,
            -0.0032731062,
            0.004244764,
            0.00049390143,
            0.009651994,
            -0.014031792,
            0.01627453,
            -0.028134037,
            -0.059274044,
            0.020196386,
            0.06415875,
            0.08238247,
            -0.025433356,
            0.021581952,
            -0.006381823,
            0.035108835,
            -0.024846252,
            0.00039629536,
            -0.005439521,
            0.039453406,
            -0.040674582,
            0.013785208,
            -0.0151707735,
            0.03670576,
            0.026090913,
            0.040627614,
            -0.040063996,
            -0.048001643,
            0.013538624,
            0.013526882,
            0.016873376,
            0.006464018,
            0.029590055,
            0.0044737346,
            0.053168163,
            0.005507038,
            -0.035320193,
            0.055845357,
            0.04680395,
            -0.0033553008,
            0.019397924,
            -0.029660506,
            -0.025597746,
            0.025480324,
            -0.0032789772,
            -0.016098399,
            0.029237792,
            -0.008589335,
            -0.0055657485,
            0.019855866,
            -0.004764351,
            0.02060736,
            -0.015816588,
            0.020184644,
            0.034991413,
            0.03311268,
            -0.023214102,
            0.0046146396,
            0.005457134,
            -0.0360482,
            0.011759698,
            -0.025010642,
            -0.050021283,
            -0.02719467,
            0.00647576,
            0.013538624,
            0.031186977,
            0.00029061662,
            0.028321909,
            0.0046792207,
            0.024587926,
            -0.0184703,
            0.010074709,
            0.020689555,
            0.02364856,
            -0.008295783,
            -0.042154085,
            0.028110553,
            -0.004059826,
            -0.021077042,
            0.04511309,
            -0.013526882,
            -0.057911962,
            0.018270684,
            0.010691169,
            -0.046475172,
            0.035390645,
            0.06143459,
            0.013761723,
            -0.007051122,
            -0.011243046,
            -0.00047482055,
            0.010438713,
            0.035320193,
            0.0022794323,
            -0.05401359,
            -0.034662634,
            -0.00447667,
            -0.010949494,
            0.0058593005,
            0.025268966,
            0.041590467,
            0.011325241,
            0.033253584,
            -0.06984192,
            -0.054577213,
            0.03442779,
            0.00030878015,
            -0.017037766,
            -0.013949597,
            -0.021300143,
            0.0006546212,
            -0.008307525,
            -0.01790668,
            -0.011642277,
            -0.0184703,
            -0.014207923,
            0.0028239714,
            0.01903392,
            0.014348828,
            -0.02968399,
            0.03351191,
            0.013045456,
            0.0041273427,
            0.03952386,
            0.011794925,
            -0.0035549162,
            0.014759801,
            -0.02872114,
            -0.037832998,
            -0.007732163,
            0.024024306,
            0.046216846,
            0.007702808,
            -0.0030382646,
            0.028462814,
            -0.006781054,
            -0.015910525,
            0.041073814,
            0.014090502,
            0.0017084734,
            -0.04607594,
            -0.0037016922,
            0.0026698567,
            -0.020595618,
            -0.011513115,
            0.0018508461,
            0.030881684,
            0.051383365,
            -0.004397411,
            0.022908809,
            0.03496793,
            -0.00030437685,
            -0.008871146,
            -0.030200643,
            0.008424946,
            -0.033371005,
            -0.008888759,
            -0.023695529,
            -0.030905169,
            -0.02083046,
            0.06570871,
            0.012211769,
            0.006047174,
            0.0029046983,
            0.014630638,
            -0.011196078,
            0.0024027242,
            -0.029237792,
            -0.022944035,
            -0.008741982,
            0.008630432,
            -0.011143239,
            -0.013620819,
            0.002311723,
            -0.031468786,
            -0.03891327,
            0.011894732,
            -0.011354596,
            0.0047995774,
            -0.035907295,
            -0.027476478,
            0.015863556,
            -0.012775389,
            -0.013526882,
            0.02050168,
            0.020583875,
            0.008454301,
            -0.014348828,
            -0.012610999,
            0.040157933,
            -0.027734805,
            -0.014184439,
            -0.011695117,
            -0.004162569,
            0.00024860195,
            -0.01407876,
            -0.0037427896,
            -0.018728625,
            0.009387797,
            -0.008113781,
            -0.01289281,
            -0.008172492,
            0.01711996,
            -0.03186802,
            -0.020208128,
            -0.017448738,
            -0.038607977,
            -0.023073196,
            0.06110581,
            -0.023930369,
            -0.034052048,
            0.01886953,
            -0.024940189,
            0.02630227,
            0.035390645,
            -0.012822357,
            0.0247758,
            0.05006825,
            0.0071157035,
            0.019914577,
            0.03135137,
            -0.02066607,
            -0.007567774,
            -0.008830048,
            -0.02916734,
            0.031257432,
            0.0092703765,
            -0.02843933,
            0.015804846,
            -0.017272606,
            -0.023237586,
            0.030224128,
            0.007855455,
            0.01413747,
            -0.008301654,
            0.009616768,
            -0.00008008469,
            -0.011595309,
            -0.0003992309,
            -0.038138293,
            -0.0069513144,
            0.027006796,
            -0.023636818,
            -0.014160954,
            0.025809104,
            -0.015100322,
            0.005016806,
            0.013949597,
            0.002961941,
            -0.020208128,
            0.02060736,
            -0.015969235,
            -0.039289016,
            0.0060824,
            -0.017225638,
            -0.033300553,
            -0.0036341753,
            0.018094553,
            0.0397587,
            -0.020090709,
            -0.009117729,
            0.031257432,
            0.019116115,
            0.04116775,
            -0.028955981,
            -0.013538624,
            -0.028674172,
            0.031046074,
            0.009974902,
            -0.051383365,
            0.03881933,
            -0.0003751963,
            -0.004206602,
            -0.017707065,
            0.036353495,
            0.018986952,
            0.023308039,
            0.007021767,
            0.012564031,
            -0.008736111,
            -0.0073799007,
            -0.002686002,
            0.034451276,
            0.015041611,
            -0.023672044,
            0.020818718,
            -0.036682274,
            0.0053250357,
            -0.029660506,
            -0.0069630565,
            0.022850098,
            0.0079611335,
            0.011636406,
            -0.008513012,
            0.009047276,
            -0.06674201,
            -0.0030177159,
            -0.0005309624,
            0.011689246,
            0.039289016,
            0.01188299,
            -0.062373955,
            -0.052228794,
            0.017096477,
            0.040580645,
            0.011295886,
            0.009111858,
            -0.025339419,
            0.030106707,
            0.0033553008,
            0.010033612,
            0.038537525,
            -0.012716678,
            0.011912345,
            0.024447022,
            0.008078555,
            -0.0019301053,
            -0.037668608,
            0.03790345,
            -0.013491656,
            0.025362903,
            0.022133831,
            -0.00822533,
            0.02185202,
            -0.015112064,
            0.009769415,
            0.01199454,
            0.032736935,
            -0.0129750045,
            0.00850127,
            0.0069806697,
            -0.028838562,
            -0.008882888,
            0.05091368,
            -0.0020710102,
            -0.038889784,
            -0.0076675816,
            -0.004808384,
            0.01953883,
            0.005598039,
            -0.023378491,
            0.00884179,
            -0.04607594,
            0.03496793,
            -0.01272842,
            0.007227253,
            0.0029091015,
            0.007397514,
            -0.026959827,
            -0.013303783,
            -0.0439154,
            -0.036259558,
            -0.015957493,
            -0.04419721,
            0.0031909116,
            0.017108219,
            -0.005304487,
            -0.0029751507,
            -0.0495516,
            0.0058974624,
            -0.02162892,
            0.014067018,
            0.023683786,
            -0.0005573821,
            0.041026846,
            -0.011043431,
            0.03992309,
            0.044760827,
            -0.012082606,
            0.0056802337,
            0.0044972184,
            -0.013092425,
            0.001790668,
            0.009751801,
            0.05349694,
            -0.025362903,
            -0.0113663385,
            0.018446816,
            -0.012634483,
            -0.030458968,
            -0.0027300348,
            -0.01650937,
            0.00035996828,
            -0.037433766,
            0.0037369186,
            0.006041303,
            -0.0505849,
            0.015687427,
            -0.0033670429,
            -0.027053764,
            0.03287784,
            0.03247861,
            -0.0027212282,
            -0.013738239,
            -0.020360775,
            -0.013984824,
            0.012610999,
            -0.014736317,
            -0.015288195,
            -0.023789464,
            0.022568287,
            0.0015925203,
            0.019268762,
            0.042201053,
            0.0033200746,
            0.024799284,
            -0.0069630565,
            0.013820434,
            -0.013256814,
            -0.009892707,
            0.0043504424,
            0.057818025,
            0.018446816,
            -0.0032965904,
            -0.0045207026,
            -0.030318065,
            0.037551187,
            0.02719467,
            -0.028110553,
            -0.048847076,
            0.06265577,
            -0.004124407,
            0.015969235,
            -0.0037692094,
            -0.0029413924,
            0.015393874,
            0.013632561,
            -0.014466248,
            -0.0415435,
            -0.007902423,
            -0.002043123,
            -0.0059092045,
            0.032689966,
            0.021922473,
            -0.0006274677,
            0.010380004,
            0.028556751,
            -0.0037075633,
            -0.024400054,
            -0.00018548826,
            0.007708679,
            0.04607594,
            -0.010679427,
            -0.019703219,
            0.03947689,
            0.024470506,
            -0.013432945,
            -0.026654534,
            -0.0059092045,
            -0.0063054995,
            -0.000096413525,
            -0.020795234,
            0.026818922,
            -0.034380823,
            -0.014219665,
            -0.030928653,
            -0.052886352,
            0.008037457,
            0.0020093643,
            -0.0083603645,
            -0.0061176266,
            0.01627453,
            0.0026228882,
            -0.013667787,
            -0.02590304,
            0.025081094,
            -0.06580264,
            0.00077424373,
            0.01711996,
            -0.023308039,
            0.0044326372,
            0.0017994746,
            -0.018493785,
            0.014830253,
            -0.0007221382,
            -0.012153058,
            0.0425768,
            -0.022086862,
            -0.01436057,
            0.00045904214,
            -0.04511309,
            -0.03496793,
            -0.019444892,
            0.032995258,
            0.008195976,
            -0.044408567,
            -0.013926113,
            -0.009769415,
            -0.00974593,
            0.024963673,
            0.018317653,
            0.006129368,
            -0.026419692,
            0.0051430333,
            0.048987977,
            -0.049316756,
            0.02122969,
            0.031727113,
            -0.033864174,
            0.038443588,
            -0.0076617105,
            0.02646666,
            0.009634381,
            0.008395591,
            -0.037715577,
            -0.043492682,
            -0.029331729,
            -0.017190412,
            0.019961545,
            0.016638534,
            -0.003986438,
            0.026983311,
            -0.020818718,
            0.028110553,
            0.003182105,
            -0.006898475,
            -0.039265532,
            -0.005900398,
            -0.013620819,
            -0.013339009,
            -0.002925247,
            -0.021253174,
            -0.031046074,
            0.04180182,
            0.033042226,
            0.03153924,
            -0.025738651,
            -0.016121883,
            -0.0048524165,
            -0.019949803,
            0.022004668,
            0.01645066,
            -0.0043739267,
            0.008266428,
            -0.0022412704,
            0.008002231,
            -0.016251046,
            -0.0180241,
            -0.002128253,
            0.005057903,
            0.02090091,
            0.008113781,
            -0.04290558,
            0.017883196,
            -0.0009694559,
            -0.035437614,
            0.009693091,
            -0.052181825,
            0.034075532,
            -0.005586297,
            0.01875211,
            0.038842816,
            -0.015734393,
            0.033253584,
            0.016098399,
            -0.0037985644,
            -0.014771543,
            0.00844843,
            -0.034897476,
            0.016086657,
            -0.017319575,
            -0.0025773877,
            0.020067224,
            0.0062350472,
            0.023942111,
            -0.01301023,
            -0.025879556,
            0.043844946,
            0.042201053,
            0.03992309,
            0.0019477183,
            -0.041637436,
            0.013021972,
            -0.0011176998,
            0.019844124,
            -0.025597746,
            -0.011542469,
            0.024822768,
            0.002734438,
            -0.01576962,
            0.029378697,
            0.0388663,
            -0.018846046,
            0.0071920273,
            -0.020454712,
            0.027734805,
            -0.042999517,
            0.049034946,
            0.0020152354,
            0.02185202,
            0.018587722,
            0.0055951034,
            -0.017307833,
            -0.033981595,
            0.005964979,
            0.010104064,
            0.028556751,
            0.0038161776,
            0.0130689405,
            0.037997387,
            -0.044854764,
            -0.048236486,
            -0.013785208,
            -0.016039688,
            -0.0039159856,
            -0.03468612,
            0.020806976,
            -0.022392156,
            -0.01937444,
            0.0015528908,
            0.0012578708,
            0.033417974,
            -0.008313396,
            0.0121648,
            0.017742291,
            0.006211563,
            -0.00076396944,
            -0.0015528908,
            0.028345393,
            0.06458147,
            -0.0037515962,
            -0.010526779,
            -0.0063172416,
            -0.022826614,
            0.0031498144,
            0.014348828,
            -0.0006425122,
            -0.005292745,
            0.0018743303,
            0.0009533105,
            -0.008571723,
            -0.011724472,
            -0.008900501,
            -0.013749981,
            -0.04076852,
            0.013714755,
            0.025386387,
            0.01808281,
            -0.016497629,
            0.041402593,
            -0.013667787,
            -0.035625488,
            -0.0109671075,
            -0.0139730815,
            0.025574261,
            0.0025172094,
            0.012481837,
            0.0073622875,
            -0.021969441,
            0.006851507,
            -0.028674172,
            0.011947571,
            0.0027006795,
            -0.014207923,
            0.038443588,
            0.0022779645,
            0.020243354,
            -0.00810791,
            -0.026678018,
            0.013879145,
            0.00275939,
            0.03503838,
            -0.011800796,
            -0.008589335,
            0.010626587,
            -0.021147495,
            0.042811643,
            -0.015898783,
            0.0013914371,
            0.007591258,
            0.003783887,
            0.0072742216,
            -0.011595309,
            -0.028063584,
            0.0058475584,
            0.044807795,
            0.047884222,
            0.018517269,
            -0.0034668506,
            0.023578107,
            -0.007397514,
            -0.0020988977,
            0.0048700296,
            0.031727113,
            -0.0030940394,
            0.017824486,
            0.008460172,
            -0.019644508,
            0.00827817,
            -0.02771132,
            0.0052516474,
            0.0055481354,
            0.047860738,
            0.05124246,
            -0.0151707735,
            0.003096975,
            -0.012458352,
            0.013315525,
            0.0036870148,
            -0.018059326,
            -0.0041655046,
            -0.0008865274,
            -0.007456224,
            -0.013456429,
            -0.017319575,
            -0.0055452,
            -0.01379695,
            0.007015896,
            -0.022767903,
            0.019350957,
            0.028909013,
            0.001790668,
            0.0028107616,
            -0.044291146,
            0.018118037,
            -0.002508403,
            -0.041637436,
            -0.0028533267,
            0.004579413,
            -0.0023366748,
            0.012704936,
            0.022509577,
            -0.032995258,
            0.02348417,
            -0.0038337908,
            0.015100322,
            0.0145719275,
            0.008190105,
            -0.0050197416,
            0.015241226,
            0.0061469814,
            -0.0031615563,
            0.020654328,
            0.012928036,
            0.025221998,
            0.016086657,
            0.030552905,
            0.0017466352,
            -0.011507244,
            0.020853942,
            0.0022662224,
            -0.014489733,
            0.018493785,
            0.06495722,
            0.002531887,
            -0.0110727865,
            0.008471915,
            -0.012834099,
            0.00636421,
            -0.014947674,
            0.01582833,
            0.0027329703,
            -0.021335369,
            -0.005360262,
            -0.037175443,
            -0.009070761,
            0.039335985,
            0.0031586208,
            -0.014630638,
            0.034991413,
            0.0061763367,
            -0.0008109378,
            -0.037926935,
            -0.022944035,
            -0.02358985,
            0.0036371108,
            0.011560082,
            -0.02489322,
            0.0015837137,
            0.03186802,
            0.011800796,
            -0.008395591,
            0.015816588,
            0.048847076,
            -0.009323215,
            0.0038807592,
            0.0072448663,
            -0.010785105,
            -0.030365031,
            0.007391643,
            0.032196797,
            0.008207718,
            -0.016344983,
            -0.014055276,
            -0.042318475,
            0.012258736,
            -0.0137734655,
            0.033770237,
            -0.016908603,
            -0.016286273,
            0.019409666,
            0.005894527,
            0.016650276,
            -0.012634483,
            0.025362903,
            -0.00007086532,
            0.0007001218,
            0.000116411764,
            0.004385669,
            0.019350957,
            -0.00560391,
            0.023331523,
            0.015922267,
            -0.01734306,
            0.0018713948,
            0.012317447,
            0.014219665,
            0.011149109,
            -0.016027946,
            0.005642072,
            0.016027946,
            -0.004790771,
            0.001324654,
            0.045653228,
            -0.011612922,
            -0.002035784,
            -0.028955981,
            0.012153058,
            0.013949597,
            0.0150768375,
            -0.012200027,
            0.00019778074,
            -0.01768358,
            0.014701091,
            0.036259558,
            0.019327473,
            0.033652816,
            -0.0009944078,
            0.0058035254,
            -0.018376363,
            0.013456429,
            -0.009922062,
            -0.0015499552,
            -0.011518985,
            0.0018302975,
            -0.0021752212,
            -0.012035637,
            -0.025503809,
            0.009141213,
            -0.0051224846,
            0.025574261,
            -0.017495707,
            -0.009076632,
            -0.009904449,
            0.022955777,
            0.024118243,
            0.007033509,
            0.011290015,
            -0.005586297,
            0.027734805,
            0.011718601,
            0.0007683727,
            -0.02077175,
            -0.012235253,
            -0.0034991414,
            0.032783903,
            -0.013021972,
            0.028815078,
            0.0020211064,
            0.022204284,
            -0.024517473,
            -0.0061704656,
            -0.052557573,
            -0.013620819,
            0.033159647,
            0.0048524165,
            0.004415024,
            0.021311885,
            0.0033875916,
            0.0029942316,
            0.011589438,
            0.015006385,
            -0.0021737535,
            0.00039335986,
            0.011055173,
            -0.0010560538,
            0.039876122,
            -0.021534985,
            0.009980773,
            -0.018916499,
            -0.046498656,
            0.01796539,
            -0.002122382,
            -0.02787571,
            0.018728625,
            -0.008700885,
            -0.021992926,
            -0.0077556474,
            0.009963159,
            -0.025339419,
            0.011196078,
            0.041872274,
            0.014348828,
            -0.005900398,
            0.022568287,
            -0.03600123,
            0.021030074,
            0.03851404,
            0.0037075633,
            -0.0029898284,
            0.048941012,
            0.0026258237,
            -0.0063172416,
            0.00504029,
            -0.02590304,
            -0.009728317,
            -0.009558057,
            0.013902629,
            -0.011102142,
            0.017613128,
            -0.038467072,
            -0.003096975,
            -0.015863556,
            -0.037128475,
            -0.019996772,
            -0.025926525,
            -0.01762487,
            0.011196078,
            -0.005025612,
            -0.028462814,
            0.010092322,
            0.003986438,
            -0.04386843,
            -0.017319575,
            -0.0064346627,
            -0.021323627,
            0.011184336,
            -0.011043431,
            -0.006634278,
            0.01953883,
            -0.022086862,
            0.016016204,
            0.021253174,
            0.01959754,
            -0.002881214,
            -0.02529245,
            -0.005850494,
            0.019174825,
            0.02545684,
            -0.011014076,
            0.013644303,
            0.001889008,
            -0.036964085,
            -0.0042858613,
            -0.009182311,
            0.024259148,
            -0.019621024,
            0.025010642,
            0.03503838,
            0.0013011699,
            -0.004103859,
            0.008313396,
            -0.011084529,
            0.010186259,
            0.01740177,
            0.0016350853,
            0.022732677,
            -0.024071274,
            -0.033535395,
            0.0052575185,
            0.01605143,
            0.006199821,
            -0.025315935,
            -0.029895348,
            -0.040510193,
            -0.052745447,
            -0.04797816,
            0.007139188,
            -0.018153263,
            0.013620819,
            -0.036024716,
            0.027640868,
            0.009452378,
            0.0020211064,
            0.013808692,
            0.028110553,
            0.008859403,
            -0.012188285,
            -0.00014062981,
            -0.04532445,
            -0.0139730815,
            -0.022345187,
            -0.007837842,
            -0.019151341,
            0.00045720744,
            0.035907295,
            0.031586207,
            0.029942317,
            0.011789054,
            0.02505761,
            -0.040298834,
            0.011395694,
            -0.004397411,
            0.013961339,
            -0.023930369,
            0.009076632,
            0.056972597,
            -0.0007144325,
            0.01165989,
            -0.030928653,
            0.022826614,
            -0.024306117,
            -0.02100659,
            -0.015335163,
            -0.016873376,
            -0.0018009424,
            0.044056304,
            -0.007550161,
            -0.015194258,
            0.008019844,
            -0.023413718,
            0.040956393,
            -0.042482864,
            -0.011988669,
            -0.024940189,
            0.010356519,
            0.0034492374,
            -0.027147701,
            -0.0039688246,
            -0.018012358,
            -0.01131937,
            -0.01323333,
            -0.0065755676,
            0.003728112,
            0.02016116,
            0.005747751,
            0.043046486,
            -0.030482452,
            -0.009311474,
            0.049363725,
            0.002170818,
            0.01976193,
            -0.018106295,
            0.045512322,
            -0.016356725,
            -0.032995258,
            0.038842816,
            0.0062702736,
            0.021053558,
            -0.032736935,
            0.016016204,
            -0.014654122,
            0.0014574863,
            0.018094553,
            0.018728625,
            0.026771953,
            0.016286273,
            0.035343677,
            0.006992412,
            0.0013554769,
            0.024658378,
            -0.019280504,
            -0.0013965742,
            -0.0119651845,
            0.020865684,
            -0.035625488,
            -0.02663105,
            0.018176747,
            0.024940189,
            0.03283087,
            0.0008109378,
            -0.021828536,
            0.026090913,
            -0.006921959,
            0.027922679,
            -0.0146776065,
            -0.013115909,
            0.041261688,
            -0.0050813872,
            -0.0030881683,
            -0.019621024,
            0.0066577625,
            0.013644303,
            0.050490964,
            0.011354596,
            0.010503295,
            -0.016591566,
            0.004993322,
            -0.035907295,
            0.024470506,
            -0.016227562,
            -0.0047672866,
            -0.023448944,
            -0.038607977,
            0.02630227,
            0.0043944754,
            -0.004670414,
            -0.022521319,
            -0.02230996,
            0.0026199527,
            0.022368671,
            0.025950009,
            -0.00521055,
            0.005272196,
            0.020583875,
            0.0032114603,
            -0.0071920273,
            -0.07496147,
            0.043281324,
            0.0092645055,
            -0.017918421,
            -0.049034946,
            0.013104167,
            0.0036283042,
            -0.028650688,
            -0.007309448,
            0.011747956,
            0.000033162218,
            -0.022603514,
            -0.052275762,
            0.041942727,
            -0.005838752,
            -0.031186977,
            -0.010385875,
            0.02011419,
            -0.030646842,
            -0.022568287,
            -0.0041860533,
            0.00077717926,
            -0.029754443,
            0.0038396618,
            -0.030905169,
            -0.025268966,
            -0.015851814,
            0.006745828,
            0.04370404,
            0.043023,
            0.009346699,
            0.0221808,
            0.0034257534,
            -0.008213589,
            0.065332964
          ],
          "description": "Ask Leni if she wants to become my partner and to marry me",
          "title": "Ask Leni About Marriage"
        }
      }
    ]
  }
}