workflows/print-do-date-tomorrow/workflow.json
{
  "name": "Print Do Date Tomorrow",
  "nodes": [
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=580, initial-scale=1, maximum-scale=1, user-scalable=no\">\n<title>Task Receipt</title>\n<script src=\"https://cdn.tailwindcss.com\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js\" integrity=\"sha512-4F1cxYdMiAW98oomSLaygEwmCnIP38pb4Kx70yQYqRwLVCs3DbRumfBq82T08g/4LJ/smbFGFpmeFlQgoDccgg==\" crossorigin=\"anonymous\" referrerpolicy=\"no-referrer\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js\" crossorigin=\"anonymous\" referrerpolicy=\"no-referrer\"></script>\n<style>\n    html, body {\n        margin: 0;\n        padding: 0;\n    }\n    body {\n        width: 580px;\n        height: auto;\n        margin-left: auto;\n        margin-right: auto;\n    }\n    .receipt {\n        width: 580px;\n        height: auto;\n    }\n    .text-2xs {\n        font-size: 1.5rem; /* 24px - actually double of original xs (12px) */\n        font-weight: 700; /* Bold for better print legibility */\n        letter-spacing: 0.01em;\n    }\n    .text-base-2x {\n        font-size: 1.75rem; /* 28px - actually double of original sm (14px) */\n        font-weight: 700; /* Bold */\n    }\n    .text-2xl-2x {\n        font-size: 2.25rem; /* 36px - double of original lg */\n        font-weight: 900; /* Extra bold for the main title */\n    }\n    /* Slightly larger/bolder than headings for parent task value */\n    .text-parent-value {\n        font-size: 1.75rem; /* slightly larger than heading (1.5rem) */\n        font-weight: 800;    /* slightly heavier than heading (700) */\n    }\n    /* QR rendering improvements */\n    #qrcode canvas {\n        image-rendering: pixelated;\n    }\n    #qrcode svg {\n        width: 100%;\n        height: 100%;\n        shape-rendering: crispEdges;\n    }\n    @media print {\n        body {\n            -webkit-print-color-adjust: exact;\n            print-color-adjust: exact;\n        }\n    }\n</style>\n</head>\n<body class=\"bg-white\">\n<div class=\"receipt mx-auto font-mono text-black\">\n    <!-- Receipt Header -->\n    <div class=\"text-center border-b-4 border-dashed border-black pb-6 mb-8\">\n        <div class=\"text-2xs text-black mb-2\">TASK RECEIPT</div>\n        <div class=\"text-2xs text-black\">\n            <span class=\"ml-2\" id=\"timestamp\"></span>\n        </div>\n    </div>\n\n    <!-- Task Title -->\n    <div class=\"mb-8\">\n        <h1 class=\"text-2xl-2x font-bold text-black leading-tight break-words\">\n            {{ $('Set Original Task').item.json.name }}\n        </h1>\n    </div>\n\n\n\n    <!-- Due Date -->\n    <div class=\"mb-8\">\n        <div class=\"text-2xs text-black uppercase tracking-wide mb-2\">Due Date:</div>\n        <p class=\"text-base-2x font-semibold text-black\" id=\"due-date\">\n            {{ $('Set Original Task').item.json.property_due_date.start.toDateTime().format('ccc dd.MM.yyyy') }}\n        </p>\n    </div>\n\n    <!-- Parent Task -->\n    <div>\n        <div class=\"text-2xs text-black uppercase tracking-wide mb-2\">Parent Task:</div>\n        <div class=\"text-parent-value\">{{ $json.property_task_name || 'None' }}</div>\n    </div>\n\n         <!-- QR Code -->\n     <div class=\"text-center -mt-4\">\n         <div class=\"mx-auto w-64 h-64 border-0 flex items-center justify-center relative\">\n             <div id=\"qrcode\"></div>\n         </div>\n         <div class=\"text-2xs text-black mb-4 -mt-8\">Scan to set complete</div>\n     </div>\n\n    <!-- Footer -->\n    <div class=\"border-t-4 border-dashed border-black pt-6 text-center\"></div>\n</div>\n <script>\n     // Set current timestamp\n     document.getElementById('timestamp').textContent = moment().locale('de').format('DD.MM.YYYY HH:mm');\n     \n     // Generate QR code (SVG, error correction level M for less density)\n     (function() {\n         var container = document.getElementById(\"qrcode\");\n         container.innerHTML = \"\";\n         var text = \"https://n8n-vy8rb-u45542.vm.elestio.app/webhook/tasks/complete?taskId={{ $('Set Original Task').item.json.id }}\";\n         var qr = qrcode(0, 'M'); // 0 auto type, 'M' error correction\n         qr.addData(text);\n         qr.make();\n         // Create SVG with module size and quiet zone\n         var svgTag = qr.createSvgTag(4, 4);\n         container.innerHTML = svgTag;\n     })();\n </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        896,
        -272
      ],
      "id": "8c78983e-8d95-4179-848d-1d862f2e117b",
      "name": "Generate HTML",
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "218d0eff-6a00-805b-9935-d4913bb02ff4",
          "mode": "list",
          "cachedResultName": "Tasks Database",
          "cachedResultUrl": "https://www.notion.so/218d0eff6a00805b9935d4913bb02ff4"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Do Date|date",
              "condition": "before",
              "date": "={{ $now.plus(2, 'days').format('yyyy-MM-dd') }}"
            },
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "Accepted"
            },
            {
              "key": "Do Date|date",
              "condition": "after",
              "date": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "key": "Parent task|relation",
              "condition": "is_not_empty"
            },
            {
              "key": "Printed|checkbox",
              "condition": "does_not_equal",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        -272
      ],
      "id": "fec46c01-c15a-4d02-9815-a25d93f91028",
      "name": "Get All Tasks Do Tomorrow",
      "credentials": {
        "notionApi": {
          "id": "RP3bJ33HVXDb5pa4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.property_parent_task[0] }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        672,
        -272
      ],
      "id": "ad393505-f3ee-458d-ad29-a80f8c0526a1",
      "name": "Get Parent",
      "credentials": {
        "notionApi": {
          "id": "RP3bJ33HVXDb5pa4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -272
      ],
      "id": "cf8a48c3-f17a-4c2d-9260-9233d9015575",
      "name": "Set Original Task"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atlas/tasks/tomorrow",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -272
      ],
      "id": "407fac2d-b27e-4ed7-aa08-099a6eec88e1",
      "name": "Webhook",
      "webhookId": "1bc37ef8-db8f-4581-8ab3-ef4d1a93c349"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{$('Get All Tasks Do Tomorrow').item.json.id}}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Printed|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1344,
        -272
      ],
      "id": "e31b515c-39c2-4c5b-a1d5-e47adb262e84",
      "name": "Set Printed",
      "credentials": {
        "notionApi": {
          "id": "RP3bJ33HVXDb5pa4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hsyfRcEcbd5MWqbP",
          "mode": "list",
          "cachedResultName": "Screenshot HTML & Print Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "html": "={{ $json.html }}"
          },
          "matchingColumns": [
            "html"
          ],
          "schema": [
            {
              "id": "html",
              "displayName": "html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1120,
        -272
      ],
      "id": "ed579ba2-2c93-40a5-b7e7-38c5fb11dbba",
      "name": "Screenshot & Print"
    }
  ],
  "connections": {
    "Generate HTML": {
      "main": [
        [
          {
            "node": "Screenshot & Print",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Tasks Do Tomorrow": {
      "main": [
        [
          {
            "node": "Set Original Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Original Task": {
      "main": [
        [
          {
            "node": "Get Parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parent": {
      "main": [
        [
          {
            "node": "Generate HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get All Tasks Do Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Screenshot & Print": {
      "main": [
        [
          {
            "node": "Set Printed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "createdAt": "2025-09-02T08:19:22.009Z",
      "updatedAt": "2025-09-02T08:19:22.009Z",
      "id": "SlCgFcqbm1uNayxM",
      "name": "backup"
    }
  ],
  "triggerCount": 1,
  "versionId": "d4c620cc-5b30-4af0-b334-17685549928d",
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-vy8rb-u45542.vm.elestio.app",
            "x-real-ip": "44.227.140.35",
            "x-forwarded-for": "44.227.140.35",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "1189",
            "user-agent": "NotionAutomation",
            "content-type": "application/json",
            "sentry-trace": "d9e95636912e4574a59c82dc37a335d7-acd503c54858748d",
            "baggage": "sentry-environment=production,sentry-release=0.0.4130,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=d9e95636912e4574a59c82dc37a335d7",
            "traceparent": "00-1ea69d3f316d7e057001c0bf8ff5a79d-3c41a7e50174e25e-00"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "249d0eff-6a00-801d-b4b1-004dc4b0bae2",
              "action_id": "249d0eff-6a00-80f7-9179-005ab5c1b008",
              "event_id": "26b81e9c-e2c0-4e54-aa8f-2ef14b07d479",
              "user_id": "129d872b-594c-818b-ae77-0002dc0f5c23",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "223d0eff-6a00-8043-ad61-ed7bba61441f",
              "created_time": "2025-07-01T14:33:00.000Z",
              "last_edited_time": "2025-08-08T17:20:00.000Z",
              "created_by": {
                "object": "user",
                "id": "129d872b-594c-818b-ae77-0002dc0f5c23"
              },
              "last_edited_by": {
                "object": "user",
                "id": "129d872b-594c-818b-ae77-0002dc0f5c23"
              },
              "cover": {
                "type": "external",
                "external": {
                  "url": "https://www.notion.so/images/page-cover/gradients_8.png"
                }
              },
              "icon": {
                "type": "emoji",
                "emoji": "✅"
              },
              "parent": {
                "type": "workspace",
                "workspace": true
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "title": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Tasks",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Tasks",
                      "href": null
                    }
                  ]
                }
              },
              "url": "https://www.notion.so/Tasks-223d0eff6a008043ad61ed7bba61441f",
              "public_url": null,
              "request_id": "b46e263d-61da-4e4c-89e0-5f07ddbd8ea9"
            }
          },
          "webhookUrl": "https://n8n-vy8rb-u45542.vm.elestio.app/webhook/atlas/tasks/tomorrow",
          "executionMode": "production"
        }
      }
    ]
  }
}