workflows/process-observations/workflow.json
{
  "name": "Process Observations",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "transcript"
            },
            {
              "name": "description"
            },
            {
              "name": "title"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        16
      ],
      "id": "755be605-2cc4-497e-ada9-16e03efa8904",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xnbxczlaowxhgriihyjs.supabase.co/rest/v1/rpc/ingest_item",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_content",
              "value": "={{ $('When Executed by Another Workflow').item.json.description }}"
            },
            {
              "name": "p_type",
              "value": "observation"
            },
            {
              "name": "p_source_type",
              "value": "voice"
            },
            {
              "name": "p_transcript",
              "value": "={{ $('When Executed by Another Workflow').item.json.transcript }}"
            },
            {
              "name": "p_embedding",
              "value": "={{ $json.data[0].embedding }}"
            },
            {
              "name": "p_embedding_model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "p_observation_title",
              "value": "={{ $('When Executed by Another Workflow').item.json.title }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        16
      ],
      "id": "4713eafe-e805-4509-8ff6-db1356c1a24b",
      "name": "RPC Ingest Observation",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "S4NUiiUkjnM1PDRf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "21cd0eff-6a00-8082-89ce-fc6db1b0daf2",
          "mode": "list",
          "cachedResultName": "Observations",
          "cachedResultUrl": "https://www.notion.so/21cd0eff6a00808289cefc6db1b0daf2"
        },
        "title": "={{ $('When Executed by Another Workflow').item.json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Transcript|rich_text",
              "textContent": "={{ $('When Executed by Another Workflow').item.json.transcript }}"
            },
            {
              "key": "External ID|rich_text",
              "textContent": "={{ $('RPC Ingest Observation').item.json.item_id }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_2",
              "textContent": "Description"
            },
            {
              "textContent": "={{ $('When Executed by Another Workflow').item.json.description }}"
            },
            {
              "type": "heading_2",
              "textContent": "Core Insight"
            },
            {
              "textContent": "={{ $json.output.enhancedObservation.coreInsight }}"
            },
            {
              "type": "heading_2",
              "textContent": "Limitations"
            },
            {
              "textContent": "={{ $json.output.enhancedObservation.limitations }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1568,
        -144
      ],
      "id": "f17f1131-c1bb-4725-9b9a-a83b2bf3addf",
      "name": "Create Observation",
      "credentials": {
        "notionApi": {
          "id": "RP3bJ33HVXDb5pa4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1168,
        160
      ],
      "id": "2ba0552b-87e9-44d4-af1b-f2487d031928",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        16
      ],
      "id": "284711c0-c32b-410b-a7c3-b203054b150c",
      "name": "Set Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f42bc7bc-0027-498f-8775-1144f23dd3bb",
              "leftValue": "={{ $json.success }}",
              "rightValue": "observation",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        16
      ],
      "id": "265ba902-ba83-4414-9def-031bf1c4dc31",
      "name": "Is Success?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8216d532-4d28-45ef-81b7-79df30e3b51d",
              "leftValue": "={{ $json.type }}",
              "rightValue": "observation",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        -96
      ],
      "id": "aa01fab0-378c-479c-b66f-8ab04834b722",
      "name": "Is New Item?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        -16
      ],
      "id": "fb8ad761-4d14-465b-b752-3685e358c999",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BenZIub6jMcJ7DX4",
          "name": "Portkey OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"enhancedObservation\": {\n    \"coreInsight\": \"Strategic tool investment creates compounding productivity gains through automation, error reduction, and cognitive load reduction. McKinsey research shows automation can improve knowledge work productivity by 20-35%, while MIT studies demonstrate that reducing manual tasks frees mental capacity for higher-value work. This aligns with the Pareto Principle where small investments yield disproportionate returns and Covey's 'sharpening the saw' principle. Organizations should systematically evaluate recurring, complex tasks for tool investment opportunities, calculating total cost of ownership including time savings, error reduction, and opportunity costs. Apply this framework to annual processes, creative workflows, data management, and any repetitive complex work across departments.\",\n    \"limitations\": \"Tool investment has diminishing returns - the first automation provides the biggest gains. Some tools have high learning curves that offset short-term benefits. Over-tooling can create complexity and maintenance overhead. The insight is most valuable for recurring tasks; one-time activities may not justify tool investment.\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1360,
        -16
      ],
      "id": "7c2c8578-eaf0-4900-a624-c593cf2eb7c8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        1104,
        -16
      ],
      "id": "b996f487-324a-4265-a7ed-d6e98cfd0d55",
      "name": "Message a model in Perplexity",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1232,
        -16
      ],
      "id": "90b38c53-9ded-4cc7-86b0-4c7e2fa73c03",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "mSg8lJLM2ZMLC08K",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Enhance Observation\n\nTransform basic observations into comprehensive insights enriched with research, context, and actionable implications.\n\n## Purpose\n\nEnhance extracted observations by adding research validation, broader context, related frameworks, and practical applications to maximize their value for decision-making and future learning.\n\n## Input\n\nObservation extracted from memo analysis (the `description` field from observation items).\n\n## Requirements\n\n**Enhancement Criteria:**\n- Research-backed validation or expansion of the insight\n- Connection to established frameworks or patterns\n- Broader implications beyond the specific instance\n- Practical applications in related contexts\n- Counter-perspectives or limitations to consider\n\n**Research Integration:**\n- Use the web_search tool to find supporting research and expert insights\n- Look for academic studies, industry reports, or expert analysis\n- Search for contradictory evidence or nuanced perspectives\n- Find related frameworks or mental models\n- Gather current best practices and benchmarks\n\n## Research Process\n\nBefore generating the output:\n\n1. **Identify the core insight** - Extract the key learning or pattern from the observation\n2. **Research validation** - Search for studies, expert opinions, or data that support or challenge the insight\n3. **Find related frameworks** - Look for established models, theories, or patterns that connect to this observation\n4. **Explore applications** - Research where similar insights have been applied successfully\n5. **Gather counter-perspectives** - Find alternative viewpoints or limitations to provide balanced understanding\n\n**Research Query Examples:**\n- \"research on [core insight topic] effectiveness\"\n- \"[observation domain] best practices studies\"\n- \"cognitive biases related to [insight area]\"\n- \"[framework name] business applications\"\n- \"limitations of [observed pattern]\"\n\n## Output Format\n\nReturn JSON with enhanced observation:\n\n```json\n{\n  \"enhancedObservation\": {\n    \"coreInsight\": \"The fundamental learning or pattern identified, enriched with research validation, frameworks, and strategic implications\",\n    \"limitations\": \"Potential limitations, counter-perspectives, or conditions where this observation might not apply. Balanced view of when the insight is most/least valuable.\"\n  }\n}\n```\n\n## Examples\n\n### Example 1: Tool Investment Observation\n**Input:** \"Investing in better tools upfront provides significant returns through time savings, improved accuracy, and reduced stress for complex annual tasks. Quality software tools can save multiple hours of work, automatically handle data import, catch errors, and identify opportunities that manual processes miss.\"\n\n**Research Focus:** Tool investment ROI, automation benefits, productivity research\n\n**Output:**\n```json\n{\n  \"enhancedObservation\": {\n    \"coreInsight\": \"Strategic tool investment creates compounding productivity gains through automation, error reduction, and cognitive load reduction. McKinsey research shows automation can improve knowledge work productivity by 20-35%, while MIT studies demonstrate that reducing manual tasks frees mental capacity for higher-value work. This aligns with the Pareto Principle where small investments yield disproportionate returns and Covey's 'sharpening the saw' principle. Organizations should systematically evaluate recurring, complex tasks for tool investment opportunities, calculating total cost of ownership including time savings, error reduction, and opportunity costs. Apply this framework to annual processes, creative workflows, data management, and any repetitive complex work across departments.\",\n    \"limitations\": \"Tool investment has diminishing returns - the first automation provides the biggest gains. Some tools have high learning curves that offset short-term benefits. Over-tooling can create complexity and maintenance overhead. The insight is most valuable for recurring tasks; one-time activities may not justify tool investment.\"\n  }\n}\n```\n\n### Example 2: Communication Effectiveness Observation  \n**Input:** \"Visual presentations using charts and graphs generate significantly higher engagement from executive audiences compared to raw numerical data or spreadsheets, as evidenced by board members responding more actively to visual elements than traditional data formats.\"\n\n**Research Focus:** Visual communication effectiveness, executive decision-making, data presentation research\n\n**Output:**\n```json\n{\n  \"enhancedObservation\": {\n    \"coreInsight\": \"Executive decision-makers process and respond more effectively to visual data representations than textual or numerical formats. Neuroscience research shows the brain processes visual information 60,000 times faster than text, while Wharton School studies found visual presentations are 43% more persuasive than text-only. This demonstrates dual coding theory and cognitive load theory - visual presentations reduce mental effort for processing complex information, freeing cognitive resources for analysis and decision-making. All executive communications should prioritize visual clarity and data storytelling, extending to reports, dashboards, proposals, and strategic documents. Essential for board presentations, investor pitches, strategic reviews, performance dashboards, and any situation requiring quick executive decision-making across financial reporting, market analysis, and operational metrics.\",\n    \"limitations\": \"Visual presentations can oversimplify complex data and hide important nuances. Some executives prefer detailed data analysis and may view visuals as superficial. Cultural differences affect visual communication preferences. The approach is less effective for audiences that need to perform detailed analysis or technical validation of the underlying data.\"\n  }\n}\n```\n\n### Example 3: System Performance Observation\n**Input:** \"New validation logic catches edge cases more effectively than the previous system, resulting in significantly fewer downstream failures and improved system reliability.\"\n\n**Research Focus:** System reliability patterns, validation strategies, software quality research\n\n**Output:**\n```json\n{\n  \"enhancedObservation\": {\n    \"coreInsight\": \"Proactive validation at system boundaries prevents cascading failures and improves overall system reliability through early error detection. Google's Site Reliability Engineering research shows 70% of system failures result from edge cases not caught during initial validation, while Netflix studies demonstrate that robust boundary validation reduces failure rates by 5x. This exemplifies the 'fail fast' principle and defensive programming paradigm, relating to the Swiss Cheese Model where multiple validation layers prevent error propagation. System architecture should prioritize validation at all integration points, providing exponential returns through reduced debugging costs (80-90% savings per Microsoft research), improved user experience, and system stability. Apply to API design, data processing pipelines, financial transactions, and any software with multiple integration points across architecture reviews, quality assurance, and reliability engineering practices.\",\n    \"limitations\": \"Over-validation can create performance bottlenecks and false positives that block legitimate use cases. Complex validation logic can become difficult to maintain and may introduce its own bugs. The approach requires significant upfront investment and may slow initial development. Some edge cases are inherently unpredictable and cannot be validated in advance.\"\n  }\n}\n```\n\n## Quality Validation\n\nBefore finalizing, verify the enhancement:\n- ✓ Core insight includes research validation with specific findings and credible sources\n- ✓ Core insight connects to established frameworks and theories\n- ✓ Core insight provides actionable strategic guidance and practical applications\n- ✓ Limitations provide balanced perspective and counter-perspectives\n- ✓ Both fields build coherently and complement each other\n\n**Enhancement Standards:**\n- Core insight should be comprehensive, including research, frameworks, implications, and applications\n- Research should be current and from credible sources\n- Frameworks should be established and well-recognized\n- Applications should be specific enough to act upon\n- Limitations should prevent over-generalization and provide realistic boundaries\n- Language should be professional and actionable\n\nNow proceed to analyze the provided observation, conduct relevant research, and generate the comprehensive enhancement. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1104,
        -240
      ],
      "id": "877cf506-1246-4a89-9f98-45a0a2374282",
      "name": "Enhance Observation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.portkey.ai/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        16
      ],
      "id": "0e2ce5a8-a222-47a7-ae78-2e11b5f91858",
      "name": "Create Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "BenZIub6jMcJ7DX4",
          "name": "Portkey OpenAI"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC Ingest Observation": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Is Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Success?": {
      "main": [
        [
          {
            "node": "Is New Item?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Item?": {
      "main": [
        [
          {
            "node": "Enhance Observation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Create Observation": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Enhance Observation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Enhance Observation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Enhance Observation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Enhance Observation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Observation": {
      "main": [
        [
          {
            "node": "Create Observation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Embeddings": {
      "main": [
        [
          {
            "node": "RPC Ingest Observation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "createdAt": "2025-09-02T08:19:22.009Z",
      "updatedAt": "2025-09-02T08:19:22.009Z",
      "id": "SlCgFcqbm1uNayxM",
      "name": "backup"
    }
  ],
  "triggerCount": 0,
  "versionId": "d792c6bb-71f6-4df7-b8aa-ebcc30d98d42",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "transcript": "I made a lot of changes on Friday in the sandbox workflows and I didn't promote them to production. I did that today and after that I monitored all the executions and fixed some errors along the way. Now it's running well for like two hours and I already can see that some of the mails that would previously be flagged as manual edit necessary are now flagged as pre processed by the AI. That's because we can match it to a property now when the match for the contact failed.",
          "embedding": [
            0.03337328,
            0.055908293,
            0.06009337,
            0.0016926411,
            0.012535101,
            -0.013232613,
            0.020321753,
            0.008745731,
            0.044667616,
            0.026894465,
            0.034446377,
            -0.046089467,
            -0.0051374463,
            0.012776547,
            -0.031790465,
            0.038899723,
            -0.012018673,
            0.026062816,
            -0.019127933,
            0.0046646134,
            0.06739042,
            0.038604625,
            0.011636383,
            0.038685106,
            -0.0032310246,
            0.0059523284,
            -0.04442617,
            -0.0225216,
            0.009436537,
            0.016820777,
            0.0176256,
            -0.02564699,
            -0.034178104,
            -0.014339243,
            0.015761096,
            0.02343373,
            -0.024292208,
            0.016619572,
            -0.014634345,
            -0.020268098,
            -0.016834192,
            0.032192875,
            -0.026706673,
            0.018054837,
            -0.036002364,
            0.019235244,
            0.012870443,
            -0.014594103,
            0.018417008,
            0.017491462,
            -0.021274125,
            0.0073171724,
            -0.015640372,
            0.0021696656,
            0.00068996707,
            0.033748865,
            0.016418366,
            0.0020673862,
            -0.010549874,
            0.012474739,
            0.003210904,
            -0.02916138,
            -0.004322564,
            -0.00028504108,
            -0.051025707,
            -0.012548515,
            -0.035170715,
            0.0032293478,
            0.0062910244,
            0.046921115,
            0.026196953,
            -0.005449315,
            0.043326244,
            -0.013977073,
            -0.031253915,
            -0.017612185,
            0.040616676,
            0.03801442,
            -0.008490871,
            -0.031870946,
            -0.011810761,
            -0.0065626516,
            -0.013735627,
            0.0036988272,
            0.0045539504,
            0.011716865,
            0.016874433,
            -0.029832065,
            -0.042816523,
            -0.013058235,
            -0.025526268,
            0.046679668,
            0.0030465862,
            0.064063825,
            0.022105774,
            0.004067704,
            -0.028222421,
            -0.0102816,
            0.018806005,
            0.05751794,
            0.048584417,
            -0.05193784,
            -0.0007939233,
            -0.0040878244,
            0.009275572,
            -0.013259441,
            0.028249249,
            -0.008316493,
            0.016659813,
            -0.014795309,
            -0.059771437,
            -0.06476133,
            -0.0839161,
            0.014620931,
            0.023058146,
            -0.009657863,
            0.0032897096,
            -0.0017068931,
            0.030744197,
            -0.051669564,
            -0.07146818,
            0.029241862,
            -0.0068812273,
            -0.015224547,
            -0.040884953,
            0.028276077,
            0.05234025,
            -0.0917497,
            -0.019463276,
            -0.046143122,
            0.0058953203,
            0.020791233,
            0.049308755,
            -0.036324296,
            -0.04008013,
            0.017169533,
            0.021703364,
            0.053547483,
            -0.03710229,
            0.044560306,
            0.010710838,
            0.010985819,
            -0.023406904,
            0.051186673,
            -0.08026757,
            -0.030529577,
            -0.011871123,
            0.008262838,
            0.0064016874,
            0.00027854383,
            -0.0030583232,
            -0.0031421587,
            -0.03511706,
            0.019852273,
            0.021743605,
            0.05633753,
            0.02215943,
            -0.026398158,
            -0.008853041,
            -0.009094487,
            0.008879868,
            0.0058316053,
            0.024855582,
            -0.012521687,
            -0.018832833,
            -0.043943275,
            0.010395616,
            -0.020281512,
            -0.045713883,
            -0.009993205,
            0.004235375,
            -0.026720086,
            -0.0060797585,
            -0.02401052,
            0.00906766,
            -0.0069080545,
            -0.022548426,
            -0.015948888,
            -0.02245453,
            -0.029510137,
            -0.02179726,
            0.02760539,
            -0.040267922,
            -0.015801337,
            -0.041984875,
            -0.02339349,
            -0.0013799341,
            0.017679254,
            -0.020576613,
            0.026545709,
            0.052903626,
            -0.011207145,
            0.022172842,
            0.02883945,
            0.005174334,
            -0.021448504,
            0.040750816,
            0.046008985,
            -0.0154525805,
            0.008531112,
            -0.014285589,
            -0.057410628,
            0.016190333,
            0.008953644,
            -0.035599954,
            0.033158664,
            0.024399517,
            0.0031186847,
            -0.025888437,
            0.010221238,
            0.0706097,
            0.014513621,
            0.030583233,
            0.075545944,
            -0.028356558,
            -0.050086748,
            -0.035385337,
            0.030663714,
            -0.021850914,
            0.0016909643,
            0.012910685,
            0.010925457,
            0.069000065,
            0.009134728,
            -0.00919509,
            0.07119991,
            0.052903626,
            -0.0179207,
            -0.010093808,
            -0.02586161,
            -0.040133785,
            0.03989234,
            -0.018618213,
            0.020402234,
            0.05437913,
            0.0068946406,
            -0.022937424,
            -0.008054926,
            0.05955682,
            -0.016270816,
            -0.021354608,
            0.019315725,
            0.023152042,
            0.023460558,
            -0.00014776026,
            0.058966618,
            0.012253413,
            -0.0083768545,
            0.0352512,
            0.009979791,
            -0.0005738548,
            -0.038336348,
            0.01690126,
            -0.04091178,
            -0.010938871,
            -0.031468537,
            0.020616854,
            0.03761201,
            0.022695977,
            0.029000415,
            -0.015305029,
            -0.010060274,
            -0.03071737,
            -0.013125303,
            0.006887934,
            -0.0072702244,
            0.07586788,
            -0.02611647,
            -0.033883,
            -0.0070556053,
            0.0035043287,
            0.039624065,
            0.0013665205,
            0.009818827,
            -0.042065356,
            0.017960941,
            0.023594694,
            0.011052887,
            0.0024496766,
            0.00894023,
            -0.005955682,
            -0.039838683,
            -0.0018175561,
            -0.012032087,
            -0.016512262,
            0.024962893,
            -0.031039298,
            -0.0076391012,
            0.035090234,
            0.024493413,
            -0.0010689041,
            0.018671868,
            0.024573894,
            0.025271406,
            0.0022602081,
            -0.008826213,
            0.016243989,
            -0.005127386,
            -0.0147416545,
            0.009724931,
            0.025070202,
            0.00034100135,
            -0.0066330736,
            -0.03471465,
            0.027337117,
            -0.0023624876,
            0.0034842081,
            -0.050918397,
            0.049094137,
            0.0051843943,
            -0.008839627,
            0.02977841,
            0.011233972,
            -0.04946972,
            -0.011455298,
            -0.020429062,
            0.041153226,
            0.013668559,
            0.039355792,
            -0.004942948,
            -0.0355463,
            -0.016243989,
            -0.057839867,
            -0.050650124,
            -0.02081806,
            -0.00944995,
            0.045311473,
            0.005338652,
            0.03334645,
            -0.00040953697,
            -0.0012281918,
            -0.035438992,
            -0.012689359,
            0.015479407,
            -0.00033115066,
            0.058269106,
            0.05617657,
            -0.016230574,
            -0.020898541,
            0.012789961,
            -0.061166465,
            -0.043138452,
            0.0208583,
            -0.014701413,
            -0.012213172,
            -0.015492821,
            -0.047028426,
            0.01973155,
            0.030905161,
            0.0038195506,
            0.008591474,
            0.011965019,
            0.013266147,
            0.012682651,
            -0.043218937,
            0.037155945,
            0.032112394,
            -0.008121994,
            -0.0004698986,
            -0.025217753,
            -0.010341961,
            0.008048219,
            0.032219704,
            0.018014597,
            -0.0144733805,
            0.014701413,
            -0.008135408,
            -0.0030331726,
            0.042092185,
            -0.009946257,
            0.01864504,
            -0.023514213,
            0.025432372,
            0.022038706,
            -0.07651173,
            -0.015184307,
            0.010657183,
            0.011140076,
            -0.0098456545,
            0.029939374,
            0.03479513,
            0.020442476,
            -0.042521425,
            -0.010362082,
            -0.0026357917,
            0.06830255,
            0.01385635,
            0.0069617094,
            -0.054888852,
            0.0070488984,
            0.00845063,
            -0.038497314,
            0.0038899726,
            -0.009288986,
            -0.03039544,
            0.034553688,
            0.0023926685,
            0.09078391,
            0.04195805,
            0.025781129,
            0.019691309,
            -0.051776875,
            -0.042172667,
            -0.014111211,
            -0.033963483,
            0.031441707,
            -0.009892602,
            -0.0023390136,
            0.04289701,
            0.03906069,
            0.031066125,
            -0.0120253805,
            0.05081109,
            0.019972997,
            0.050435506,
            0.008906696,
            -0.012501567,
            0.03141488,
            0.0031807232,
            0.0032645587,
            0.0037457752,
            0.0032645587,
            0.035519473,
            0.007424482,
            -0.035599954,
            0.0016624603,
            0.012555221,
            -0.015465994,
            0.027846837,
            -0.058376413,
            -0.038068075,
            -0.0030717368,
            0.025150685,
            -0.032031912,
            0.0030314957,
            -0.00005142791,
            -0.039168,
            0.0063681533,
            0.0058651394,
            -0.012575342,
            -0.016914673,
            -0.011810761,
            -0.045687057,
            -0.028383385,
            -0.022508185,
            0.0059221475,
            -0.04595533,
            -0.037558354,
            -0.0046512,
            -0.03460734,
            0.01730367,
            -0.032702595,
            -0.018095078,
            -0.009101194,
            -0.043218937,
            -0.06460037,
            -0.0022417642,
            0.025982333,
            0.03283673,
            0.050435506,
            -0.012052208,
            0.023380077,
            -0.026505468,
            0.038175385,
            0.022132602,
            0.028007802,
            -0.006193775,
            0.0072165695,
            0.01639154,
            0.03460734,
            0.051535428,
            0.009912723,
            -0.021394849,
            -0.0046478463,
            -0.04831614,
            -0.03999965,
            -0.009376175,
            -0.05800083,
            -0.031388056,
            -0.04144833,
            -0.023930037,
            -0.007873841,
            0.0026173478,
            0.036297467,
            0.024976306,
            0.0957738,
            -0.0065190573,
            -0.015600131,
            -0.009027419,
            0.023594694,
            -0.017142706,
            0.0053453585,
            0.0053420053,
            -0.015345271,
            0.013688679,
            -0.02792732,
            -0.012655824,
            -0.023406904,
            0.048799034,
            0.04050937,
            -0.05319873,
            -0.020402234,
            -0.036458433,
            0.030019857,
            0.0615957,
            0.009423123,
            -0.028624833,
            0.042065356,
            0.02215943,
            0.015653785,
            0.0040241093,
            0.041394673,
            0.008075046,
            0.012555221,
            -0.0032544986,
            -0.0115357805,
            -0.013185665,
            0.05821545,
            -0.003076767,
            -0.005496263,
            0.0021126575,
            -0.0033517478,
            -0.009094487,
            -0.0034473203,
            0.0154525805,
            -0.04340673,
            -0.043192107,
            -0.0671758,
            -0.026304262,
            -0.0016096438,
            0.0073507065,
            -0.016565917,
            0.043004315,
            -0.025016546,
            -0.073828995,
            -0.04185074,
            0.0047182683,
            -0.014231933,
            -0.043648172,
            0.017759737,
            0.0073171724,
            0.0147416545,
            0.022360634,
            -0.00030159863,
            0.01998641,
            0.02647864,
            -0.001981874,
            0.032514803,
            0.025875024,
            -0.021569226,
            0.037397392,
            -0.012588756,
            0.009657863,
            0.0005021753,
            0.012092449,
            0.02760539,
            -0.025727473,
            -0.01751829,
            -0.036646225,
            -0.0022099067,
            0.032085568,
            -0.01187783,
            0.00649223,
            -0.047243044,
            0.006358093,
            0.038846068,
            0.022937424,
            -0.01617692,
            -0.0053889533,
            0.018229216,
            -0.029134553,
            0.027659046,
            -0.036109675,
            -0.063259,
            0.049818475,
            0.011415057,
            -0.019423034,
            -0.031763636,
            0.011522367,
            0.023205698,
            -0.00057259726,
            -0.038872898,
            0.03173681,
            -0.0038463778,
            -0.01802801,
            0.029027242,
            0.0005210383,
            0.027685873,
            0.017223189,
            -0.014003901,
            0.014433139,
            -0.012971046,
            0.056713115,
            -0.019342553,
            -0.028598005,
            -0.011495539,
            0.01994617,
            -0.010979112,
            0.010891923,
            0.027162738,
            -0.0062977313,
            -0.014607517,
            0.025714058,
            -0.02339349,
            0.0130045805,
            0.015653785,
            -0.022186257,
            0.00806834,
            0.020013237,
            -0.022602081,
            -0.012193051,
            -0.0450432,
            -0.011113249,
            0.026210366,
            -0.042011704,
            -0.0029728108,
            0.03648526,
            0.019865686,
            0.03479513,
            0.021260712,
            -0.024278793,
            0.0004875041,
            0.00081320544,
            -0.0060227504,
            -0.02292401,
            -0.006193775,
            0.008175649,
            -0.017276844,
            -0.050650124,
            -0.01947669,
            -0.0026274081,
            -0.0057645366,
            0.014352657,
            -0.016378125,
            0.009986498,
            0.0118040545,
            0.007927496,
            -0.0011946575,
            0.008148822,
            -0.019610826,
            0.040267922,
            -0.011455298,
            -0.00036049314,
            -0.05832276,
            0.039543584,
            -0.025231166,
            0.009081074,
            0.016592745,
            -0.028276077,
            0.002238411,
            -0.039919164,
            -0.06749773,
            0.009027419,
            0.021663122,
            -0.008658542,
            -0.025284821,
            -0.013252734,
            -0.0007742219,
            0.022105774,
            0.021233885,
            -0.01643178,
            0.0007432027,
            -0.024788514,
            -0.005593512,
            -0.0058953203,
            0.030153994,
            -0.01102606,
            -0.0055197366,
            0.01643178,
            -0.026451813,
            -0.023473972,
            0.019651068,
            0.0010689041,
            0.0027431012,
            0.0050972053,
            -0.002954367,
            0.022575254,
            -0.04048254,
            0.007920789,
            0.08305762,
            -0.00058181916,
            0.014875791,
            -0.04450665,
            -0.013614903,
            -0.009718224,
            -0.015157479,
            0.055157125,
            -0.016726881,
            0.00040869863,
            -0.009999912,
            -0.00613006,
            -0.009389589,
            0.008007978,
            -0.0071226736,
            -0.006153534,
            0.0032645587,
            -0.014701413,
            0.026961533,
            0.012642411,
            -0.019892514,
            0.007994564,
            -0.0025284821,
            -0.0065358244,
            -0.029483309,
            0.021917982,
            -0.017504876,
            -0.0017421041,
            0.002878915,
            0.04185074,
            0.022964252,
            0.022239912,
            0.0087725585,
            -0.021998465,
            -0.0030063451,
            -0.045204163,
            -0.00821589,
            -0.017491462,
            -0.009597501,
            0.017115878,
            -0.041662946,
            0.014285589,
            -0.02473486,
            -0.034553688,
            0.0072970516,
            0.0077397036,
            -0.005117326,
            0.011475419,
            0.039624065,
            -0.02731029,
            -0.0069482955,
            -0.00093812053,
            -0.05623022,
            -0.020576613,
            -0.025982333,
            0.0026592657,
            -0.01066389,
            -0.070019506,
            0.019758377,
            -0.025003133,
            -0.009537139,
            -0.0076726354,
            0.025834782,
            0.013232613,
            -0.023782486,
            -0.043299418,
            -0.02256184,
            -0.009027419,
            0.03573409,
            -0.0029593972,
            -0.009416416,
            -0.0070488984,
            0.011401643,
            -0.02081806,
            0.00036384657,
            0.0128302025,
            -0.047001597,
            -0.012092449,
            0.012421085,
            0.025150685,
            -0.006549238,
            0.00069122465,
            0.061542045,
            0.033534244,
            0.008289666,
            0.0038329642,
            0.017330498,
            0.009114608,
            -0.015412339,
            0.01298446,
            0.046706498,
            -0.0021378081,
            -0.008162235,
            -0.009396296,
            -0.0015450903,
            0.0023239232,
            -0.0012743013,
            0.008625008,
            -0.005559978,
            0.0017253369,
            -0.0046813805,
            -0.011475419,
            -0.017799977,
            -0.034043968,
            0.01690126,
            -0.01951693,
            -0.0076994626,
            -0.0009976438,
            -0.03039544,
            0.0075921533,
            0.01570744,
            -0.0075787394,
            0.02277646,
            0.026156712,
            0.020885129,
            -0.0012047178,
            -0.012709479,
            0.036619395,
            -0.07533133,
            0.033319626,
            0.0061803614,
            -0.01802801,
            0.02158264,
            -0.018417008,
            0.015881818,
            0.005559978,
            0.010583408,
            0.0011175288,
            0.042065356,
            -0.008021392,
            0.004795397,
            -0.011126663,
            0.047350354,
            -0.027846837,
            -0.002214937,
            -0.021421677,
            0.025190925,
            0.007645808,
            -0.026961533,
            -0.0028822683,
            -0.009443243,
            -0.011837589,
            -0.005284997,
            0.010415737,
            -0.030690541,
            0.036377948,
            0.0045002955,
            -0.0080616325,
            -0.015224547,
            -0.031253915,
            0.018551145,
            -0.013259441,
            -0.029939374,
            -0.01639154,
            -0.018376766,
            0.024962893,
            -0.03337328,
            -0.005915441,
            0.005751123,
            -0.016257402,
            0.04091178,
            -0.008765852,
            -0.009677983,
            0.0020439122,
            0.024104416,
            -0.010395616,
            -0.0042051943,
            0.0411264,
            0.0032662356,
            0.03989234,
            -0.0006174493,
            -0.020214444,
            -0.0049966024,
            0.00023662602,
            -0.035009753,
            0.027323702,
            -0.020992437,
            -0.019288898,
            -0.014258761,
            0.026384745,
            0.015331857,
            0.008678663,
            0.0064352215,
            0.02426538,
            -0.013172251,
            0.034446377,
            -0.021300953,
            -0.05998606,
            -0.015734268,
            0.028946761,
            0.039704546,
            0.028705314,
            0.02266915,
            0.010576701,
            -0.031468537,
            0.0035881642,
            0.027417598,
            -0.003246115,
            0.044292033,
            0.021408262,
            -0.0071763285,
            0.034982923,
            -0.0034707943,
            0.0004912767,
            0.0060227504,
            -0.023004493,
            0.013668559,
            -0.030475922,
            0.0237959,
            -0.035465818,
            0.016619572,
            0.013031408,
            0.017384153,
            -0.014366071,
            -0.037477873,
            0.028356558,
            0.03514389,
            0.004969775,
            0.01643178,
            0.0105096325,
            -0.000546189,
            -0.015868405,
            0.0064788163,
            -0.016847605,
            -0.0188999,
            -0.02513727,
            -0.011495539,
            0.009503605,
            0.040643506,
            0.0068342793,
            0.011213852,
            0.005680701,
            -0.011005939,
            0.016954914,
            0.012360723,
            -0.031468537,
            0.0013120273,
            0.013588076,
            0.0048758793,
            -0.02680057,
            -0.04678698,
            -0.0208583,
            -0.014151451,
            0.050542813,
            -0.011327868,
            -0.013252734,
            0.0028872986,
            -0.025284821,
            -0.003013052,
            0.026035989,
            -0.028490694,
            0.011354695,
            -0.026049402,
            0.015492821,
            0.06733677,
            0.018403593,
            0.00016578492,
            0.026760329,
            -0.0030029917,
            -0.012058915,
            -0.0006673315,
            0.0198791,
            0.011213852,
            0.010798027,
            -0.04681381,
            -0.0024781807,
            0.001334663,
            0.015573303,
            0.043648172,
            -0.004936241,
            -0.00294263,
            -0.01458069,
            -0.045794364,
            -0.021046093,
            -0.026250606,
            -0.034875616,
            -0.0048691723,
            0.0064519886,
            0.01951693,
            0.036860842,
            -0.028410213,
            -0.019812033,
            -0.039168,
            -0.00466126,
            -0.02368859,
            0.042226322,
            0.023581281,
            -0.022280153,
            -0.031066125,
            -0.021622881,
            0.030931989,
            -0.0063882736,
            0.029134553,
            0.04523099,
            0.042709216,
            -0.0008471589,
            -0.002808493,
            0.0100669805,
            -0.018698696,
            0.0090877805,
            0.0016423396,
            0.013433819,
            0.0047752764,
            0.016606158,
            -0.0076189805,
            0.0013430465,
            -0.014258761,
            0.004144833,
            0.00013015479,
            0.014339243,
            -0.010583408,
            0.073936306,
            -0.027524909,
            0.0021596055,
            0.018631626,
            0.02158264,
            -0.011837589,
            -0.038899723,
            -0.037558354,
            0.021287538,
            -0.0060965256,
            0.044184722,
            0.046518706,
            0.014057555,
            0.013789281,
            -0.0076793423,
            -0.027498081,
            -0.024506826,
            0.0083299065,
            0.052581698,
            -0.04928193,
            -0.008101874,
            -0.0067873313,
            -0.016753709,
            -0.020885129,
            -0.016404953,
            -0.012508273,
            -0.0073507065,
            -0.03616333,
            0.009235331,
            0.011126663,
            0.025445785,
            -0.021193642,
            0.023084974,
            -0.0055197366,
            -0.009543846,
            -0.0050033093,
            0.026867637,
            0.0041180053,
            -0.016364712,
            0.02611647,
            -0.024292208,
            0.041394673,
            -0.022991078,
            0.019047452,
            -0.010093808,
            -0.007156208,
            0.02916138,
            -0.044962715,
            0.0074378955,
            -0.029295517,
            -0.027082257,
            0.0077397036,
            -0.01555989,
            -0.013869764,
            0.0615957,
            0.0059590354,
            -0.013869764,
            -0.0025486026,
            -0.0188999,
            0.014231933,
            0.0076659285,
            -0.0028504108,
            -0.0072970516,
            0.009771879,
            0.010932164,
            0.0016892876,
            0.011857709,
            -0.012508273,
            0.015237961,
            0.00045396984,
            -0.012099156,
            0.012474739,
            -0.018054837,
            -0.024104416,
            0.008256131,
            0.026089642,
            0.0042622024,
            0.0077665313,
            0.035626784,
            -0.033051353,
            0.013883177,
            -0.010851682,
            0.024211725,
            -0.0068275724,
            0.04657236,
            -0.027578562,
            -0.061756667,
            -0.0012525041,
            -0.027524909,
            0.013279561,
            0.0035143888,
            0.00806834,
            -0.022146016,
            -0.03007351,
            0.0026944766,
            0.011287627,
            0.003053293,
            0.017907288,
            0.065888084,
            0.025325062,
            -0.022856941,
            0.004124712,
            0.017464636,
            -0.00041624383,
            -0.017759737,
            0.045606572,
            -0.020053478,
            -0.000527326,
            0.0077464106,
            0.0032913862,
            -0.023366662,
            0.016351297,
            -0.05751794,
            -0.0152782025,
            -0.039811857,
            0.016458608,
            -0.010523046,
            -0.015184307,
            -0.0030700602,
            -0.008920109,
            0.009034126,
            -0.019584,
            -0.0296711,
            0.0037323616,
            -0.0037457752,
            -0.006351386,
            -0.011039473,
            0.013279561,
            -0.0041917805,
            0.014272175,
            0.0008308109,
            0.004637786,
            -0.01911452,
            0.012669238,
            -0.005995923,
            0.020133961,
            0.0009808767,
            0.050972052,
            0.0053285914,
            -0.0034842081,
            0.0022987726,
            0.0065827724,
            0.051159844,
            -0.0115357805,
            -0.016364712,
            -0.010610235,
            0.02394345,
            -0.02782001,
            0.010657183,
            -0.054352306,
            0.021716777,
            0.02524458,
            -0.024453172,
            0.01592206,
            -0.0009917753,
            -0.015023342,
            -0.03278308,
            0.07458016,
            -0.027444426,
            -0.0039939284,
            0.01726343,
            -0.0051139724,
            0.0033064766,
            0.025405545,
            -0.011703452,
            -0.017384153,
            -0.009657863,
            -0.006934882,
            0.021770433,
            0.0076122736,
            0.004842345,
            0.031495363,
            -0.0070354845,
            0.02535189,
            0.008423802,
            0.005070378,
            -0.04058985,
            -0.03463417,
            0.008946937,
            -0.010529753,
            -0.0077531175,
            0.011911364,
            0.00896035,
            -0.014178279,
            -0.033856176,
            -0.010710838,
            0.038926553,
            -0.03428541,
            -0.009517019,
            -0.0075384984,
            0.0002852507,
            -0.024466585,
            0.02394345,
            -0.01458069,
            0.025781129,
            0.015479407,
            -0.01755853,
            0.0021981697,
            -0.008879868,
            -0.00093225203,
            -0.024171485,
            -0.0013950246,
            0.0027414246,
            -0.0016985096,
            -0.00095069583,
            -0.0022115835,
            -0.03863145,
            -0.00014545479,
            -0.005087145,
            0.004761863,
            -0.00981212,
            0.02926869,
            -0.0107712,
            -0.004946301,
            0.012233293,
            0.015640372,
            -0.016203748,
            -0.02215943,
            0.0070958463,
            -0.01741098,
            0.010737665,
            -0.01983886,
            -0.00196343,
            -0.007424482,
            0.008967057,
            -0.040294748,
            0.018886486,
            -0.022092361,
            0.014339243,
            0.045687057,
            -0.0021663122,
            0.005134093,
            0.018041424,
            0.013440525,
            -0.032917216,
            0.023675177,
            -0.027431013,
            -0.010328548,
            -0.023232525,
            0.021596054,
            -0.012930805,
            -0.0074848435,
            0.012568635,
            -0.0014796986,
            -0.014312416,
            -0.014620931,
            -0.0058483724,
            -0.033051353,
            0.0068108053,
            0.03812173,
            0.040804468,
            -0.0095773805,
            0.013339923,
            -0.007732997,
            -0.010784613,
            0.011113249,
            -0.023259353,
            0.013688679,
            -0.018698696,
            -0.03771932,
            0.018980382,
            -0.0097987065,
            -0.037960764,
            -0.042682387,
            0.011629676,
            0.023460558,
            0.009570674,
            -0.027873665,
            -0.0043158573,
            0.02564699,
            -0.01298446,
            -0.041394673,
            0.021421677,
            0.020308338,
            0.0038061368,
            0.0110931285,
            -0.022843529,
            0.014486794,
            0.016887845,
            -0.019382793,
            -0.028302902,
            -0.024573894,
            0.01213269,
            0.015465994,
            -0.063259,
            -0.006683375,
            0.034392722,
            0.021569226,
            -0.004691441,
            0.032434322,
            -0.02684081,
            0.0016473698,
            0.014607517,
            -0.0045304764,
            -0.033722036,
            0.015050169,
            -0.019825445,
            0.012917391,
            0.034258585,
            -0.0037826628,
            0.008591474,
            -0.004235375,
            0.03028813,
            -0.0002791726,
            0.023299593,
            0.005727649,
            0.0015643726,
            -0.02637133,
            0.020482717,
            -0.008625008,
            -0.007974444,
            0.021757018,
            -0.0208583,
            -0.03232701,
            -0.03337328,
            0.01602937,
            0.00036154108,
            0.014634345,
            -0.03565361,
            -0.048396625,
            0.009228624,
            -0.0022618847,
            0.0030918575,
            0.019691309,
            0.012119276,
            0.034875616,
            0.008484164,
            0.0023155396,
            0.012843616,
            -0.022494772,
            0.024962893,
            0.0127832545,
            -0.0237959,
            0.008269545,
            0.0072769313,
            -0.06191763,
            -0.004795397,
            -0.0039033862,
            -0.02270939,
            -0.016230574,
            0.012521687,
            0.0049395943,
            0.021998465,
            0.017142706,
            0.0008278767,
            -0.03275625,
            0.0072098626,
            -0.0005575068,
            0.0023524272,
            -0.020670509,
            0.0076189805,
            0.017451221,
            0.045204163,
            0.011227265,
            -0.0144733805,
            -0.010422443,
            0.0069550024,
            -0.030046685,
            -0.011468712,
            -0.025298234,
            0.027551737,
            0.006019397,
            0.03184412,
            0.018765764,
            -0.032085568,
            0.011187024,
            0.020831473,
            -0.026720086,
            -0.0039067394,
            -0.037129115,
            0.0058483724,
            0.030341785,
            -0.03318549,
            0.005308471,
            -0.011106542,
            0.0058483724,
            0.009838948,
            -0.014795309,
            -0.023997106,
            0.006445282,
            -0.037236426,
            -0.010227945,
            0.03039544,
            -0.003923507,
            0.03111978,
            0.011180317,
            -0.020415649,
            -0.0012516658,
            0.0063681533,
            -0.037155945,
            -0.014339243,
            -0.014956273,
            0.043326244,
            -0.032541633,
            -0.0077598244,
            -0.04740401,
            0.0056840545,
            -0.03256846,
            -0.03627064,
            0.00029028082,
            0.011965019,
            -0.015586717,
            0.016700054,
            0.022950837,
            -0.0110461805,
            -0.0057880105,
            -0.013158838,
            0.04740401,
            -0.0015023341,
            0.0018645041,
            -0.0016892876,
            -0.015787922,
            -0.03401714,
            0.06025433,
            -0.036324296,
            -0.01643178,
            0.019744964,
            0.0073238793,
            -0.019584,
            0.011066301,
            -0.030234477,
            -0.011609556,
            0.02792732,
            -0.0068543996,
            0.0031823998,
            -0.01177052,
            -0.01926207,
            -0.021046093,
            0.004114652,
            0.014017315,
            -0.0005373863,
            -0.017571945,
            -0.01483555,
            -0.02107292,
            0.025807954,
            0.008383561,
            -0.0081085805,
            0.0008249424,
            -0.03369521,
            0.0009138082,
            -0.027846837,
            -0.044184722,
            0.015935473,
            0.040616676,
            -0.011777227,
            0.011019353,
            -0.015479407,
            -0.0013329863,
            -0.030610058,
            -0.011307747,
            -0.005734356,
            0.024091002,
            0.022615494,
            -0.008007978,
            0.048664898,
            -0.01900721,
            0.02173019,
            -0.012568635,
            0.018041424,
            0.04359452,
            -0.0041515394,
            0.019812033,
            0.012340602,
            -0.0020657096,
            -0.024319034,
            -0.020133961,
            0.009651156,
            -0.023111802,
            -0.0027363945,
            0.0017689314,
            -0.033990312,
            0.0059657423,
            0.027296877,
            -0.029429654,
            -0.024466585,
            0.023742246,
            -0.0068745203,
            -0.00023830273,
            0.039731372,
            -0.028302902,
            -0.013869764,
            0.004684734,
            0.012903977,
            -0.001998641,
            0.0076592215,
            0.042601906,
            -0.029456481,
            -0.023313008,
            -0.010650476,
            -0.01042915,
            0.02999303,
            -0.011991846,
            0.0034506738,
            0.013990487,
            -0.013246027,
            0.019275485,
            -0.019463276,
            -0.019315725,
            0.006800745,
            -0.004557304,
            0.014446553,
            -0.0051441533,
            -0.0020422356,
            0.024292208,
            0.034231756,
            -0.020657096,
            0.021086333,
            0.007927496,
            -0.006468756,
            -0.014674586,
            0.0065224105,
            -0.02132778,
            -0.008396975,
            0.03227336,
            0.01617692,
            0.0150099285,
            -0.014513621,
            -0.030878333,
            -0.002890652,
            -0.004366159,
            0.03380252,
            -0.01274972,
            0.005466082,
            -0.010248065,
            0.022347221,
            -0.03627064,
            -0.0069147614,
            -0.02488241,
            0.010241359,
            0.0140307285,
            -0.017826805,
            -0.040026475,
            -0.0118040545,
            -0.014486794,
            0.031173434,
            -0.004731682,
            -0.043192107,
            0.044882234,
            -0.00065098354,
            0.033641554,
            -0.015398925,
            -0.034392722,
            0.01396366,
            -0.021314366,
            -0.016606158,
            -0.017571945
          ],
          "description": "Monitor the promoted sandbox workflow changes now running in production, track execution results, and fix any errors that arise. Observe the impact of AI preprocessing on mail flags, noting that mails previously flagged as manual edit necessary are now flagged as preprocessed by AI due to improved property matching after contact match failures.",
          "title": "Monitor Production Workflow Performance"
        }
      }
    ]
  }
}